*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 1rem;
}
@media (max-width: 1366rem) {
  html,
  body {
    font-size: 0.0732064422vw;
  }
}
@media (max-width: 767rem) {
  html,
  body {
    font-size: 0.2666666667vw;
  }
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

table, th, td {
  border: 1rem solid rgb(202, 199, 199);
  border-collapse: collapse;
}

.UNavbar {
  width: 100%;
  background: white;
  height: 100rem;
  z-index: 999;
}
@media (max-width: 1366rem) {
  .UNavbar {
    height: 100rem;
  }
}
@media (max-width: 767rem) {
  .UNavbar {
    height: 80rem;
  }
}
.UNavbar .UNavbar_content {
  position: relative;
  max-width: 1366rem;
  padding: 30rem 110rem;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.UNavbar .UNavbar_content .UNavbar_content_logo img {
  width: 250rem;
  height: 35rem;
}
.UNavbar .UNavbar_content .UNavbar_content_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.UNavbar .UNavbar_content .UNavbar_content_icons .ruleCss {
  margin-top: 10rem;
}
.UNavbar .UNavbar_content .UNavbar_content_icons .line {
  height: 40rem;
  width: 10rem;
  border-left: 1rem solid black;
  margin-left: 25rem;
  margin-top: 5rem;
}
.UNavbar .UNavbar_content .UNavbar_content_icons .nav_login div {
  font-size: 15rem;
  color: #0045FF;
  margin-left: 10rem;
  margin-top: 15rem;
  font-weight: bold;
}
.UNavbar .UNavbar_content .UNavbar_content_icons .nav_letter {
  font-size: 15rem;
  color: black;
  margin-left: 20rem;
  margin-top: 15rem;
  font-weight: bold;
}
.UNavbar .UNavbar_content .UNavbar_content_icons .nav_btn {
  margin-left: 20rem;
  display: flex;
  align-items: center;
  background-color: #0045FF;
  border-radius: 5px;
  padding: 15rem 15rem;
}
.UNavbar .UNavbar_content .UNavbar_content_icons .nav_btn div {
  font-size: 15rem;
  color: white;
}

.user_logoutnav {
  width: 100%;
  background: white;
  height: 100rem;
  z-index: 999;
}
@media (max-width: 1366rem) {
  .user_logoutnav {
    height: 100rem;
  }
}
@media (max-width: 767rem) {
  .user_logoutnav {
    height: 80rem;
  }
}
.user_logoutnav .user_logoutnav_content {
  position: relative;
  max-width: 1366rem;
  padding: 30rem 110rem;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.user_logoutnav .user_logoutnav_content .user_logoutnav_content_logo img {
  width: 250rem;
  height: 35rem;
}
.user_logoutnav .user_logoutnav_content .user_logoutnav_content_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_logoutnav .user_logoutnav_content .user_logoutnav_content_icons .navIcons {
  margin-top: 20rem;
  margin-left: 20rem;
}

.ULayer {
  width: 100%;
  background: #00B3FF;
  height: 80rem;
}
.ULayer .ULayer_content {
  position: relative;
  max-width: 1366rem;
  padding: 20rem 110rem;
  height: 100%;
  margin: auto;
  display: flex;
}
.ULayer .ULayer_content .homeIcon {
  margin-top: 6rem;
}
.ULayer .ULayer_content .pageTitle {
  font-size: 20rem;
  color: white;
  color: #0045FF;
}
.ULayer .ULayer_content .ULayer_content_arrow {
  font-size: 25rem;
  margin-top: 5rem;
}

.userLogin {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.userLogin .userLogin_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 230rem;
  display: flex;
}
.userLogin .userLogin_content .userLogin_part {
  background-color: white;
  width: 460rem;
  height: 475rem;
  margin: auto;
  padding: 30rem 25rem;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_text {
  display: flex;
  justify-content: start;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_text div {
  margin-top: 5rem;
  height: 20rem;
  width: 10rem;
  border-left: 2rem solid #0045FF;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_text p {
  color: #727272;
  font-size: 20rem;
  font-weight: bold;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_ID {
  display: flex;
  justify-content: start;
  margin-top: 20rem;
  align-items: center;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_ID p {
  text-align: center;
  font-size: 15rem;
  color: #727272;
  margin-right: 20rem;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_ID input {
  height: 30rem;
  width: 300rem;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_Pass {
  display: flex;
  justify-content: start;
  margin-top: 20rem;
  align-items: center;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_Pass p {
  text-align: center;
  font-size: 15rem;
  color: #727272;
  margin-right: 20rem;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_Pass input {
  height: 30rem;
  width: 300rem;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_btn {
  margin: auto;
  margin-top: 50rem;
  align-items: center;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_btn button {
  padding: 13rem 15rem;
  font-size: 15rem;
  font-weight: bold;
  color: white;
  background-color: #0045FF;
  border: none;
  border-radius: 5px;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_line {
  margin-top: 40rem;
  border-top: 1rem solid gray;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_passlost {
  display: flex;
  justify-content: start;
  margin-top: 50rem;
  align-items: center;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_passlost p {
  font-size: 15rem;
  color: #00B3FF;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_passlost span {
  font-size: 25rem;
  margin-top: -5rem;
  margin-left: 5rem;
  color: #0045FF;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_register {
  display: flex;
  justify-content: start;
  margin-top: 30rem;
  align-items: center;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_register p {
  font-size: 15rem;
  color: #00B3FF;
}
.userLogin .userLogin_content .userLogin_part .userLogin_part_register span {
  font-size: 25rem;
  margin-top: -5rem;
  margin-left: 5rem;
  color: #0045FF;
}

.userFooter {
  width: 100%;
  background: white;
  height: 88rem;
}
.userFooter .userFooter_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.userFooter .userFooter_content p {
  font-size: 15rem;
  margin-right: 10rem;
}
.userFooter .userFooter_content img {
  width: 180rem;
  height: 50rem;
}

.userRegister {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.userRegister .userRegister_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 305rem;
  display: flex;
}
.userRegister .userRegister_content .userRegister_part {
  background-color: white;
  width: 100%;
  height: 400rem;
  margin: auto;
  padding: 30rem 25rem;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_title {
  display: flex;
  justify-content: start;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_title div {
  margin-top: 5rem;
  height: 20rem;
  width: 10rem;
  border-left: 2rem solid #0045FF;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_title p {
  font-size: 20rem;
  color: #727272;
  font-weight: bold;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_text {
  margin-top: 10rem;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_text p {
  width: 100%;
  font-size: 15rem;
  color: #727272;
  text-align: start;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_table {
  margin-top: 10rem;
  width: 100%;
  padding: 0;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_table .userRegister_part_table_emailaddress_label {
  background-color: #f4f7f6;
  width: 30%;
  height: 60rem;
  font-size: 15rem;
  color: #727272;
  margin: 0;
  text-align: start;
  padding-left: 10rem;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_table .userRegister_part_table_emailaddress_type {
  background-color: white;
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_table .userRegister_part_table_emailaddress_type input {
  height: 30rem;
  margin-left: 10rem;
  width: 300rem;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_btngroup {
  margin-top: 35rem;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_btngroup .userRegister_part_back {
  font-size: 15rem;
  font-weight: bold;
  padding: 13rem 28rem;
  background-color: rgb(114, 114, 114);
  color: white;
  border: none;
  border-radius: 5px;
}
.userRegister .userRegister_content .userRegister_part .userRegister_part_btngroup .userRegister_part_register {
  font-size: 15rem;
  font-weight: bold;
  color: white;
  border: none;
  padding: 13rem 28rem;
  background-color: #0045FF;
  margin-left: 30rem;
}

.userRegisterfinish {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.userRegisterfinish .userRegisterfinish_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 305rem;
  display: flex;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part {
  background-color: white;
  width: 100%;
  height: 400rem;
  margin: auto;
  padding: 30rem 25rem;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_title {
  display: flex;
  justify-content: start;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_title div {
  margin-top: 5rem;
  height: 20rem;
  width: 10rem;
  border-left: 2rem solid #0045FF;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_title p {
  color: #727272;
  font-size: 20rem;
  font-weight: bold;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_text {
  margin-top: 10rem;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_text p {
  width: 100%;
  color: #727272;
  font-size: 15rem;
  text-align: start;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_btngroup {
  margin-top: 35rem;
}
.userRegisterfinish .userRegisterfinish_content .userRegisterfinish_part .userRegisterfinish_part_btngroup .userRegisterfinish_part_back {
  font-size: 15rem;
  font-weight: bold;
  padding: 13rem 28rem;
  background-color: #0045FF;
  color: white;
  border: none;
  border-radius: 5px;
}

.userPassreminder {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.userPassreminder .userPassreminder_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 385rem;
  display: flex;
}
.userPassreminder .userPassreminder_content .userPassreminder_part {
  background-color: white;
  width: 600rem;
  height: 320rem;
  margin: auto;
  padding: 30rem 25rem;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_title {
  display: flex;
  justify-content: start;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_title div {
  margin-top: 5rem;
  height: 20rem;
  width: 10rem;
  border-left: 2rem solid #0045FF;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_title p {
  color: #727272;
  font-size: 20rem;
  font-weight: bold;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_text {
  margin-top: 10rem;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_text p {
  width: 100%;
  font-size: 15rem;
  color: #727272;
  text-align: start;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_emailTrans {
  margin-top: 30rem;
  display: flex;
  justify-content: flex-start;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_emailTrans p {
  font-size: 15rem;
  color: #727272;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_emailTrans input {
  margin-left: 30rem;
  width: 300rem;
  height: 30rem;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_btngroup {
  margin-top: 35rem;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_btngroup .userPassreminder_part_back {
  font-size: 15rem;
  font-weight: bold;
  padding: 13rem 28rem;
  background-color: #727272;
  color: white;
  border: none;
  border-radius: 5px;
}
.userPassreminder .userPassreminder_content .userPassreminder_part .userPassreminder_part_btngroup .userPassreminder_part_receive {
  font-size: 15rem;
  font-weight: bold;
  padding: 13rem 28rem;
  margin-left: 30rem;
  background-color: #0045FF;
  color: white;
  border: none;
  border-radius: 5px;
}

.userPasswordinform {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.userPasswordinform .userPasswordinform_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 385rem;
  display: flex;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part {
  background-color: white;
  width: 600rem;
  height: 320rem;
  margin: auto;
  padding: 30rem 25rem;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_title {
  display: flex;
  justify-content: start;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_title div {
  margin-top: 5rem;
  height: 20rem;
  width: 10rem;
  border-left: 2rem solid #0045FF;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_title p {
  font-size: 20rem;
  color: #727272;
  font-weight: bold;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_text {
  margin-top: 10rem;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_text p {
  width: 100%;
  font-size: 14rem;
  color: #727272;
  text-align: start;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_btngroup {
  margin-top: 35rem;
}
.userPasswordinform .userPasswordinform_content .userPasswordinform_part .userPasswordinform_part_btngroup .userPasswordinform_part_back {
  font-size: 15rem;
  font-weight: bold;
  padding: 13rem 28rem;
  background-color: #0045FF;
  color: white;
  border: none;
  border-radius: 5px;
}

.Useradd {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.Useradd .Useradd_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 60rem;
}
.Useradd .Useradd_content .Useradd_content_Header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30rem;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_firststep_circle {
  width: 40rem;
  height: 80rem;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_firststep_circle .Useradd_content_Header_firststep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0045FF;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_firststep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: #0045FF;
  font-weight: bold;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_firststep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: #0045FF;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_secondstep_circle {
  width: 40rem;
  height: 80rem;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_secondstep_circle .Useradd_content_Header_secondstep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: #727272;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_secondstep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: white;
  font-weight: bold;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_secondstep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: white;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_thirdstep_circle {
  width: 40rem;
  height: 80rem;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_thirdstep_circle .Useradd_content_Header_thirdstep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: #727272;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_thirdstep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: #727272;
  font-weight: bold;
}
.Useradd .Useradd_content .Useradd_content_Header .Useradd_content_Header_thirdstep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: white;
}
.Useradd .Useradd_content .Useradd_content_information {
  width: 100%;
  height: auto;
  margin-top: 20rem;
  padding: 50rem 20rem;
  background-color: white;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_title {
  width: 100%;
  height: auto;
  display: flex;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_title .Useradd_content_information_title_symbol {
  width: 8rem;
  height: 20rem;
  border-left: 2rem solid #0045FF;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_title .Useradd_content_information_title_text {
  font-size: 20rem;
  margin-top: -5rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content {
  margin-top: 10rem;
  width: 100%;
  height: auto;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_partname {
  display: flex;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_partname .Useradd_content_information_content_partname_content {
  width: 30%;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_partname .Useradd_content_information_content_partname_content .Useradd_content_information_content_partname_content_txt {
  color: #727272;
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_partname .Useradd_content_information_content_partname_content .Useradd_content_information_content_partname_content_require {
  background-color: red;
  color: white;
  font-size: 12rem;
  padding: 5rem 7rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_partname .Useradd_content_information_content_partname_input {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10rem;
  width: 70%;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_partname .Useradd_content_information_content_partname_input .Useradd_content_information_content_partname_inputtag {
  width: 300rem;
  height: 30rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name {
  display: flex;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name .Useradd_content_information_content_name_content {
  width: 30%;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name .Useradd_content_information_content_name_content .Useradd_content_information_content_name_content_txt {
  color: #727272;
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name .Useradd_content_information_content_name_content .Useradd_content_information_content_name_content_require {
  background-color: red;
  color: white;
  font-size: 12rem;
  padding: 5rem 7rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name .Useradd_content_information_content_name_input {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10rem;
  width: 70%;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name .Useradd_content_information_content_name_input p {
  font-size: 15rem;
  margin-right: 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_name .Useradd_content_information_content_name_input .Useradd_content_information_content_name_inputtag {
  width: 150rem;
  height: 30rem;
  margin-right: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum {
  display: flex;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum .Useradd_content_information_content_phonenum_content {
  width: 30%;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum .Useradd_content_information_content_phonenum_content .Useradd_content_information_content_phonenum_content_txt {
  color: #727272;
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum .Useradd_content_information_content_phonenum_content .Useradd_content_information_content_phonenum_content_require {
  background-color: red;
  color: white;
  font-size: 12rem;
  padding: 5rem 7rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum .Useradd_content_information_content_phonenum_input {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10rem;
  width: 70%;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum .Useradd_content_information_content_phonenum_input p {
  font-size: 15rem;
  margin-right: 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_phonenum .Useradd_content_information_content_phonenum_input .Useradd_content_information_content_phonenum_inputtag {
  width: 75rem;
  height: 30rem;
  margin-right: 7rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address {
  display: flex;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_content {
  width: 30%;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_content .Useradd_content_information_content_address_content_txt {
  color: #727272;
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_content .Useradd_content_information_content_address_content_require {
  background-color: red;
  color: white;
  font-size: 12rem;
  padding: 5rem 7rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input {
  padding: 7rem 10rem;
  width: 70%;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box1 .Useradd_content_information_content_address_input_box1_label {
  font-size: 15rem;
  text-align: start;
  margin-top: 5rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box1 .Useradd_content_information_content_address_input_box1_addressinput {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box1 .Useradd_content_information_content_address_input_box1_addressinput .Useradd_content_information_content_address_input_box1_addressinput_tag {
  width: 150rem;
  height: 30rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box1 .Useradd_content_information_content_address_input_box1_addressinput .Useradd_content_information_content_address_input_box1_addressinput_btn {
  font-size: 15rem;
  color: white;
  background-color: #0045FF;
  border-radius: 40px;
  margin-left: 25rem;
  border: none;
  padding: 8rem 25rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box2 .Useradd_content_information_content_address_input_box2_label {
  font-size: 15rem;
  text-align: start;
  margin-top: 5rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box2 .Useradd_content_information_content_address_input_box2_select {
  width: 100rem;
  height: 30rem;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box3 .Useradd_content_information_content_address_input_box3_label {
  font-size: 15rem;
  text-align: start;
  margin-top: 5rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box3 .Useradd_content_information_content_address_input_box3_tag {
  width: 300rem;
  height: 30rem;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box4 .Useradd_content_information_content_address_input_box4_label {
  font-size: 15rem;
  text-align: start;
  margin-top: 5rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_address .Useradd_content_information_content_address_input .Useradd_content_information_content_address_input_box4 .Useradd_content_information_content_address_input_box4_tag {
  width: 300rem;
  height: 30rem;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_emailaddress {
  display: flex;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_emailaddress .Useradd_content_information_content_emailaddress_content {
  width: 30%;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_emailaddress .Useradd_content_information_content_emailaddress_content .Useradd_content_information_content_emailaddress_content_txt {
  color: #727272;
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_emailaddress .Useradd_content_information_content_emailaddress_input {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10rem;
  width: 70%;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_content .Useradd_content_information_content_emailaddress .Useradd_content_information_content_emailaddress_input .Useradd_content_information_content_emailaddress_inputtag {
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor {
  margin-top: 50rem;
  display: flex;
  justify-content: start;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor p {
  width: 10rem;
  height: 18rem;
  margin-top: 2rem;
  border-left: 2rem solid #0045FF;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor .Useradd_content_information_personalInfor_text {
  font-size: 15rem;
  font-weight: bold;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_textarea {
  margin-top: 20rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_textarea div {
  width: 100%;
  height: 300rem;
  padding: 10rem 10rem;
  font-size: 15rem;
  border: 1rem groove gray;
  overflow-y: scroll;
  text-align: start;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_textbox {
  margin-top: 30rem;
  width: 200rem;
  margin: auto;
  margin-top: 30rem;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_textbox input {
  width: 15rem;
  height: 15rem;
  margin-left: 10rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_textbox p {
  margin-left: 5rem;
  font-size: 15rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_btn {
  margin-top: 50rem;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_btn .Useradd_content_information_personalInfor_btn_back {
  font-size: 15rem;
  color: white;
  background-color: #727272;
  padding: 10rem 20rem;
  border: none;
  border-radius: 5px;
}
.Useradd .Useradd_content .Useradd_content_information .Useradd_content_information_personalInfor_btn .Useradd_content_information_personalInfor_btn_next {
  font-size: 15rem;
  color: white;
  background-color: #0045FF;
  padding: 10rem 20rem;
  border: none;
  margin-left: 30rem;
  border-radius: 5px;
}

.Userconf {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.Userconf .Userconf_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 132rem;
}
.Userconf .Userconf_content .Userconf_content_Header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30rem;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_firststep_circle {
  width: 40rem;
  height: 80rem;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_firststep_circle .Userconf_content_Header_firststep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: #727272;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_firststep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: white;
  font-weight: bold;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_firststep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: white;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_secondstep_circle {
  width: 40rem;
  height: 80rem;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_secondstep_circle .Userconf_content_Header_secondstep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0045FF;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_secondstep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: #0045FF;
  font-weight: bold;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_secondstep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: #0045FF;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_thirdstep_circle {
  width: 40rem;
  height: 80rem;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_thirdstep_circle .Userconf_content_Header_thirdstep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: #727272;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_thirdstep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: white;
  font-weight: bold;
}
.Userconf .Userconf_content .Userconf_content_Header .Userconf_content_Header_thirdstep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: white;
}
.Userconf .Userconf_content .Userconf_content_information {
  width: 100%;
  height: auto;
  margin-top: 20rem;
  padding: 50rem 20rem;
  background-color: white;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_title {
  width: 100%;
  height: auto;
  display: flex;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_title .Userconf_content_information_title_symbol {
  width: 8rem;
  height: 20rem;
  border-left: 2rem solid #0045FF;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_title .Userconf_content_information_title_text {
  font-size: 20rem;
  margin-top: -5rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content {
  margin-top: 10rem;
  width: 100%;
  height: auto;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_partname .Userconf_content_information_content_partname_title {
  width: 30%;
  background-color: #f4f7f6;
  padding: 10rem 10rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_partname .Userconf_content_information_content_partname_title .Userconf_content_information_content_partname_title_txt {
  color: #727272;
  font-size: 15rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_partname .Userconf_content_information_content_partname_content {
  padding: 0 10rem;
  width: 70%;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_partname .Userconf_content_information_content_partname_content .Userconf_content_information_content_partname_content_txt {
  height: 30rem;
  font-size: 15rem;
  text-align: start;
  display: flex;
  align-items: center;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_name .Userconf_content_information_content_name_content {
  width: 30%;
  background-color: #f4f7f6;
  padding: 10rem 10rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_name .Userconf_content_information_content_name_content .Userconf_content_information_content_name_content_txt {
  color: #727272;
  font-size: 15rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_name .Userconf_content_information_content_name_input {
  padding: 0 10rem;
  width: 70%;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_name .Userconf_content_information_content_name_input p {
  font-size: 15rem;
  margin-right: 10rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_phonenum .Userconf_content_information_content_phonenum_content {
  width: 30%;
  background-color: #f4f7f6;
  padding: 10rem 10rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_phonenum .Userconf_content_information_content_phonenum_content .Userconf_content_information_content_phonenum_content_txt {
  color: #727272;
  font-size: 15rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_phonenum .Userconf_content_information_content_phonenum_input {
  padding: 0 10rem;
  width: 70%;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_phonenum .Userconf_content_information_content_phonenum_input p {
  font-size: 15rem;
  margin-right: 10rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_address .Userconf_content_information_content_address_content {
  width: 30%;
  background-color: #f4f7f6;
  padding: 10rem 10rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_address .Userconf_content_information_content_address_content p {
  color: #727272;
  font-size: 15rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_address .Userconf_content_information_content_address_input {
  padding: 15rem 10rem;
  width: 70%;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_address .Userconf_content_information_content_address_input .Userconf_content_information_content_address_input_box1 p {
  font-size: 15rem;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_emailaddress {
  display: flex;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_emailaddress .Userconf_content_information_content_emailaddress_content {
  width: 30%;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 10rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_emailaddress .Userconf_content_information_content_emailaddress_content .Userconf_content_information_content_emailaddress_content_txt {
  color: #727272;
  font-size: 15rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_emailaddress .Userconf_content_information_content_emailaddress_input {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10rem;
  width: 70%;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_content .Userconf_content_information_content_emailaddress .Userconf_content_information_content_emailaddress_input .Userconf_content_information_content_emailaddress_inputtag {
  font-size: 15rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor {
  margin-top: 50rem;
  display: flex;
  justify-content: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor p {
  width: 10rem;
  height: 18rem;
  margin-top: 2rem;
  border-left: 2rem solid #0045FF;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor .Userconf_content_information_personalInfor_text {
  font-size: 15rem;
  font-weight: bold;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_textarea {
  margin-top: 20rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_textarea div {
  width: 100%;
  height: 300rem;
  padding: 10rem 10rem;
  font-size: 15rem;
  border: 1rem groove gray;
  overflow-y: scroll;
  text-align: start;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_textbox {
  margin-top: 30rem;
  width: 200rem;
  margin: auto;
  margin-top: 30rem;
  background-color: #f4f7f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_textbox input {
  width: 15rem;
  height: 15rem;
  margin-left: 10rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_textbox p {
  margin-left: 5rem;
  font-size: 15rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_btn {
  margin-top: 50rem;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_btn .Userconf_content_information_personalInfor_btn_back {
  font-size: 15rem;
  color: white;
  background-color: #727272;
  padding: 10rem 20rem;
  border: none;
  border-radius: 5px;
}
.Userconf .Userconf_content .Userconf_content_information .Userconf_content_information_personalInfor_btn .Userconf_content_information_personalInfor_btn_next {
  font-size: 15rem;
  color: white;
  background-color: #0045FF;
  padding: 10rem 20rem;
  border: none;
  margin-left: 30rem;
  border-radius: 5px;
}

.Useraddfinish {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.Useraddfinish .Useraddfinish_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 366rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 30rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_firststep_circle {
  width: 40rem;
  height: 80rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_firststep_circle .Useraddfinish_content_Header_firststep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: #727272;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_firststep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: white;
  font-weight: bold;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_firststep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: white;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_secondstep_circle {
  width: 40rem;
  height: 80rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_secondstep_circle .Useraddfinish_content_Header_secondstep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: #727272;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_secondstep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: white;
  font-weight: bold;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_secondstep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: white;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_thirdstep_circle {
  width: 40rem;
  height: 80rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_thirdstep_circle .Useraddfinish_content_Header_thirdstep_circle_num {
  width: 40rem;
  height: 40rem;
  border-radius: 30px;
  font-size: 22rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0045FF;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_thirdstep_circle p {
  margin-top: 10rem;
  font-size: 15rem;
  color: #0045FF;
  font-weight: bold;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_Header .Useraddfinish_content_Header_thirdstep_line {
  width: 240rem;
  height: 3rem;
  margin-top: -20rem;
  background-color: #0045FF;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_information {
  width: 100%;
  height: auto;
  margin-top: 20rem;
  padding: 50rem 20rem;
  background-color: #ffffff;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_information .Useraddfinish_content_information_title {
  width: 100%;
  height: auto;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_information .Useraddfinish_content_information_title p {
  text-align: start;
  font-size: 15rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_information .Useraddfinish_content_information_personalInfor_btn {
  margin-top: 50rem;
}
.Useraddfinish .Useraddfinish_content .Useraddfinish_content_information .Useraddfinish_content_information_personalInfor_btn .Useraddfinish_content_information_personalInfor_btn_next {
  font-size: 15rem;
  color: white;
  background-color: #0045FF;
  padding: 10rem 20rem;
  border: none;
  margin-left: 30rem;
  border-radius: 5px;
}

.Newpass {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.Newpass .Newpass_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 358rem;
}
.Newpass .Newpass_content .Newpass_part {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: white;
  padding: 30rem 20rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_text div {
  width: 10rem;
  height: 25rem;
  border-left: 3rem solid #0045FF;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_text p {
  font-size: 20rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_letter {
  font-size: 15rem;
  text-align: start;
  margin-top: 20rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_Pass {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_Pass p {
  font-size: 15rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_Pass input {
  margin-left: 150rem;
  width: 300rem;
  height: 30rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_Passconfirm {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_Passconfirm p {
  font-size: 15rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_Passconfirm input {
  margin-left: 90rem;
  width: 300rem;
  height: 30rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_btn {
  margin-top: 50rem;
}
.Newpass .Newpass_content .Newpass_part .Newpass_part_btn button {
  padding: 20rem 10rem;
  font-size: 15rem;
  color: white;
  background-color: #0045FF;
  border: none;
  border-radius: 5px;
}

.Newpassfinish {
  width: 100%;
  background: #00B3FF;
  height: 100%;
}
.Newpassfinish .Newpassfinish_content {
  position: relative;
  max-width: 1366rem;
  padding: 10rem 110rem;
  height: 100%;
  margin: auto;
  padding-bottom: 468rem;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: white;
  padding: 30rem 20rem;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part .Newpassfinish_part_text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part .Newpassfinish_part_text div {
  width: 10rem;
  height: 25rem;
  border-left: 3rem solid #0045FF;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part .Newpassfinish_part_text p {
  font-size: 20rem;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part .Newpassfinish_part_letter {
  font-size: 15rem;
  text-align: start;
  margin-top: 20rem;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part .Newpassfinish_part_btn {
  margin-top: 50rem;
}
.Newpassfinish .Newpassfinish_content .Newpassfinish_part .Newpassfinish_part_btn button {
  padding: 15rem 30rem;
  font-size: 15rem;
  color: white;
  background-color: #0045FF;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */