
$pc: 1366px;
$sp: 767px; // SP

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin pc_c {
    @media (max-width: (1382px)) {
        @content;
    }
}
@mixin pc_d {
    @media (max-width: (1275px)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// @font-face {
//     font-family: "Helvetica";
//     src: url(../font/Helvetica.ttf);
// }
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 1px;
  @include pc {
      font-size: 0.0732064421669107vw;
  }
  @include sp {
    font-size: 0.2666666666666667vw;
  }
}

a {
text-decoration: none !important;
}

img {
width: 100%;
}

table, th, td {
    border: 1px solid rgb(202, 199, 199);
    border-collapse: collapse;
}

.UNavbar {
    width: 100%;
    background:white;
    height: 100px;
    z-index: 999;
    @include pc {
        height: 100px;
    }
    @include sp {
        height: 80px;
    }
    .UNavbar_content{
        position: relative;
        max-width: $pc;
        padding: 30px 110px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: start;
        .UNavbar_content_logo {
            margin-right: 530rem;
            @include pc_c {
                margin-right: 360rem;
            }
            @include pc_d {
                margin-right: 180rem;
            }
            img {
                width: 250px;
                height: 35px;
            }
        }
        .ruleCss {
            margin-top: 10px;
        }
        .line {
            height: 40px;
            width: 10px; 
            border-left: 1px solid black;
            margin-left: 25px;
            margin-top: 5px;
        }
        .nav_login {
            div {
                font-size: 15px;
                color: #0045FF;
                margin-left: 10px;
                margin-top: 15px;
                font-weight: bold;
            }
        }
        .nav_letter {
            font-size: 15px;
            color: black;
            margin-left: 20px;
            margin-top: 15px;
            font-weight: bold;
        }
        .nav_btn {
            margin-left: 20px;
            display: flex;
            align-items: center;
            background-color: #0045FF;
            border-radius: 5px;
            padding: 25px 20px;
            div {
                font-size: 15px;
                color: white;
            }
        }
    }
}

.ULayer {
    width: 100%;
    background: #00B3FF;
    height: 80px;
    .ULayer_content{
        position: relative;
        max-width: $pc;
        padding: 20px 110px;
        height: 100%;
        margin: auto;
        display: flex;

        .homeIcon {
            margin-top: 8px;
        }
        .pageTitle {
            margin-left: 5px;
            font-size: 30px;
            color: white;
            color: #0045FF;
        }
        .ULayer_content_arrow {
            font-size: 25px;
            margin-top: 5px;
        }
    }
}

.userLogin {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .userLogin_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 210px;
        display: flex;
        .userLogin_part {
            background-color: white;
            width: 460px;
            height: 475px;
            margin: auto;
            padding: 30px 25px;
            .userLogin_part_text {
                display: flex;
                justify-content: start;
                div {
                    margin-top: 5px;
                    height: 20px;
                    width: 10px;
                    border-left: 2px solid #0045FF
                }

                p {
                    color: #727272;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .userLogin_part_ID {
                display: flex;
                justify-content: start;
                margin-top: 20px;
                align-items: center;
                p {
                    text-align: center;
                    font-size: 15px;
                    color: #727272;
                    margin-right: 20px;
                }

                input {
                    height: 30px;
                    width: 300px;
                }
            }

            .userLogin_part_Pass {
                display: flex;
                justify-content: start;
                margin-top: 20px;
                align-items: center;
                p {
                    text-align: center;
                    font-size: 15px;
                    color: #727272;
                    margin-right: 20px;
                }

                input {
                    height: 30px;
                    width: 300px;
                }
            }

            .userLogin_part_btn {
                margin: auto;
                margin-top: 50px;
                align-items: center;

                button {
                    padding: 13px 15px;
                    font-size: 15px;
                    font-weight: bold;
                    color: white;
                    background-color: #0045FF;
                    border: none;
                    border-radius: 5px;
                }
            }

            .userLogin_part_line {
                margin-top: 40px;
                border-top: 1px solid gray;
            }

            .userLogin_part_passlost {
                display: flex;
                justify-content: start;
                margin-top: 50px;
                align-items: center;
                p {
                    font-size: 15px;
                    color: #00B3FF;
                }
                span {
                    font-size: 25px;
                    margin-top: -5px;
                    margin-left: 5px;
                    color:#0045FF;
                }
            }

            .userLogin_part_register {
                display: flex;
                justify-content: start;
                margin-top: 30px;
                align-items: center;
                p {
                    font-size: 15px;
                    color: #00B3FF;
                }
                span {
                    font-size: 25px;
                    margin-top: -5px;
                    margin-left: 5px;
                    color:#0045FF;
                }
            }
        }
    }
}

.userFooter {
    width: 100%;
    background: white;
    height: 88px;
    .userFooter_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: end;
        align-items: center;
        p {
            font-size: 15px;
            margin-right: 10px;
        }

        img {
            width: 180px;
            height: 50px;
        }
    }
}

.userRegister {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .userRegister_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 285px;
        display: flex;
        .userRegister_part {
            background-color: white;
            width: 100%;
            height: 400px;
            margin: auto;
            padding: 30px 25px;
            .userRegister_part_title {
                display: flex;
                justify-content: start;
                div {
                    margin-top: 5px;
                    height: 20px;
                    width: 10px;
                    border-left: 2px solid #0045FF
                }

                p {
                    font-size: 20px;
                    color:#727272;
                    font-weight: bold;
                }
            }

            .userRegister_part_text {
                margin-top: 10px;
                p {
                    width: 100%;
                    font-size: 15px;
                    color: #727272;
                    text-align: start;
                }
            }
            
            .userRegister_part_table {
                margin-top: 10px;
                width: 100%;
                padding: 0;

                .userRegister_part_table_emailaddress_label {
                    background-color: #f4f7f6;
                    width: 30%;
                    height: 60px;
                    font-size: 15px;
                    color: #727272;
                    margin: 0;
                    text-align: start;
                    padding-left: 10px;
                }

                .userRegister_part_table_emailaddress_type {
                    background-color: white;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    input {
                        height: 30px;
                        margin-left: 10px;
                        width: 300px;
                    }
                }
            }

            .userRegister_part_btngroup {
                margin-top: 35px;

                .userRegister_part_back {
                    font-size: 15px;
                    font-weight: bold;
                    padding: 13px 28px;
                    background-color: rgb(114, 114, 114);
                    color: white;
                    border: none;
                    border-radius: 5px;
                }

                .userRegister_part_register {
                    font-size: 15px;
                    font-weight: bold;
                    color: white;
                    border: none;
                    padding: 13px 28px;
                    background-color: #0045FF;
                    margin-left: 30px;
                }
            }
        }
    }
}


.userRegisterfinish {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .userRegisterfinish_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 285px;
        display: flex;
        .userRegisterfinish_part {
            background-color: white;
            width: 100%;
            height: 400px;
            margin: auto;
            padding: 30px 25px;
            .userRegisterfinish_part_title {
                display: flex;
                justify-content: start;
                div {
                    margin-top: 5px;
                    height: 20px;
                    width: 10px;
                    border-left: 2px solid #0045FF
                }

                p {
                    color: #727272;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .userRegisterfinish_part_text {
                margin-top: 10px;
                p {
                    width: 100%;
                    color: #727272;
                    font-size: 15px;
                    text-align: start;
                }
            }

            .userRegisterfinish_part_btngroup {
                margin-top: 35px;

                .userRegisterfinish_part_back {
                    font-size: 15px;
                    font-weight: bold;
                    padding: 13px 28px;
                    background-color: #0045FF;
                    color: white;
                    border: none;
                    border-radius: 5px;
                }

            }
        }
    }
}

.userPassreminder {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .userPassreminder_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 365px;
        display: flex;
        .userPassreminder_part {
            background-color: white;
            width: 600px;
            height: 320px;
            margin: auto;
            padding: 30px 25px;
            .userPassreminder_part_title {
                display: flex;
                justify-content: start;
                div {
                    margin-top: 5px;
                    height: 20px;
                    width: 10px;
                    border-left: 2px solid #0045FF
                }

                p {
                    color: #727272;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .userPassreminder_part_text {
                margin-top: 10px;
                p {
                    width: 100%;
                    font-size: 15px;
                    color:#727272;
                    text-align: start;
                }
            }

            .userPassreminder_part_emailTrans {
                margin-top: 30px;
                display: flex;
                justify-content:flex-start;
                p {
                    font-size: 15px;
                    color: #727272;
                }
                input {
                    margin-left: 30px;
                    width: 300px;
                    height: 30px;
                }
            }

            .userPassreminder_part_btngroup {
                margin-top: 35px;

                .userPassreminder_part_back {
                    font-size: 15px;
                    font-weight: bold;
                    padding: 13px 28px;
                    background-color: #727272;
                    color: white;
                    border: none;
                    border-radius: 5px;
                }

                .userPassreminder_part_receive {
                    font-size: 15px;
                    font-weight: bold;
                    padding: 13px 28px;
                    margin-left: 30px;
                    background-color: #0045FF;
                    color: white;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}

.userPasswordinform {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .userPasswordinform_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom:365px;
        display: flex;
        .userPasswordinform_part {
            background-color: white;
            width: 600px;
            height: 320px;
            margin: auto;
            padding: 30px 25px;
            .userPasswordinform_part_title {
                display: flex;
                justify-content: start;
                div {
                    margin-top: 5px;
                    height: 20px;
                    width: 10px;
                    border-left: 2px solid #0045FF
                }

                p {
                    font-size: 20px;
                    color: #727272;
                    font-weight: bold;
                }
            }

            .userPasswordinform_part_text {
                margin-top: 10px;
                p {
                    width: 100%;
                    font-size: 14px;
                    color: #727272;
                    text-align: start;
                }
            }

            .userPasswordinform_part_btngroup {
                margin-top: 35px;

                .userPasswordinform_part_back {
                    font-size: 15px;
                    font-weight: bold;
                    padding: 13px 28px;
                    background-color: #0045FF;
                    color: white;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Useradd {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Useradd_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 60px;
        .Useradd_content_Header {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 30px ;
           .Useradd_content_Header_firststep_circle {
                width: 40px;
                height: 80px;
                .Useradd_content_Header_firststep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:#0045FF;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #0045FF;
                }
            }

            .Useradd_content_Header_firststep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #0045FF;
            }

            .Useradd_content_Header_secondstep_circle {
                width: 40px;
                height: 80px;
                .Useradd_content_Header_secondstep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #727272;
                }
            }

            .Useradd_content_Header_secondstep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #727272;
            }

            .Useradd_content_Header_thirdstep_circle {
                width: 40px;
                height: 80px;
                .Useradd_content_Header_thirdstep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #727272;
                }
            }

            .Useradd_content_Header_thirdstep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #727272;
            }
        }

        .Useradd_content_information {
            width: 100%;
            height: auto;
            margin-top: 20px;
            padding: 50px 20px;
            background-color: white;
            .Useradd_content_information_title {
                width: 100%;
                height: auto;
                display: flex;
                .Useradd_content_information_title_symbol {
                    width: 8px;
                    height: 20px;
                    border-left: 2px solid #0045FF;
                }
                .Useradd_content_information_title_text {
                    font-size: 20px;
                    margin-top: -5px;
                }
            }

            .Useradd_content_information_content {
                margin-top: 10px;
                width: 100%;
                height: auto;

                .Useradd_content_information_content_partname {
                    display: flex;
                    .Useradd_content_information_content_partname_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .Useradd_content_information_content_partname_content_txt {
                            color: #727272;
                            font-size: 15px;
                        }
                        .Useradd_content_information_content_partname_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12px;
                            padding: 5px 7px;
                        }
                    }

                    .Useradd_content_information_content_partname_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10px;
                        width: 70%;
                        .Useradd_content_information_content_partname_inputtag {
                            width: 300px;
                            height: 30px;
                        }
                    }
                }

                .Useradd_content_information_content_name {
                    display: flex;
                    .Useradd_content_information_content_name_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .Useradd_content_information_content_name_content_txt {
                            color: #727272;
                            font-size: 15px;
                        }
                        .Useradd_content_information_content_name_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12px;
                            padding: 5px 7px;
                        }
                    }

                    .Useradd_content_information_content_name_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10px;
                        width: 70%;
                        p {
                            font-size: 15px;
                            margin-right: 10px;
                        }
                        .Useradd_content_information_content_name_inputtag {
                            width: 150px;
                            height: 30px;
                            margin-right: 15px;
                        }
                    }
                }

                .Useradd_content_information_content_phonenum {
                    display: flex;
                    .Useradd_content_information_content_phonenum_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .Useradd_content_information_content_phonenum_content_txt {
                            color: #727272;
                            font-size: 15px;
                        }
                        .Useradd_content_information_content_phonenum_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12px;
                            padding: 5px 7px;
                        }
                    }

                    .Useradd_content_information_content_phonenum_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10px;
                        width: 70%;
                        p {
                            font-size: 15px;
                            margin-right: 10px;
                        }
                        .Useradd_content_information_content_phonenum_inputtag {
                            width: 75px;
                            height: 30px;
                            margin-right: 7px;
                        }
                    }
                }

                .Useradd_content_information_content_address {
                    display: flex;
                    .Useradd_content_information_content_address_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .Useradd_content_information_content_address_content_txt {
                            color: #727272;
                            font-size: 15px;
                        }
                        .Useradd_content_information_content_address_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12px;
                            padding: 5px 7px;
                        }
                    }

                    .Useradd_content_information_content_address_input {
                        padding: 7px 10px;
                        width: 70%;
                        .Useradd_content_information_content_address_input_box1 {
                            .Useradd_content_information_content_address_input_box1_label {
                                font-size: 15px;
                                text-align: start;
                                margin-top: 5px;
                            }
                            .Useradd_content_information_content_address_input_box1_addressinput {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                margin-top: 5px;
                                
                                .Useradd_content_information_content_address_input_box1_addressinput_tag {
                                    width: 150px;
                                    height: 30px;
                                }
                                .Useradd_content_information_content_address_input_box1_addressinput_btn {
                                    font-size: 15px;
                                    color: white;
                                    background-color: #0045FF;
                                    border-radius: 40px;
                                    margin-left: 25px;
                                    border: none;
                                    padding: 8px 25px;
                                }
                            }
                        }

                        .Useradd_content_information_content_address_input_box2 {
                            .Useradd_content_information_content_address_input_box2_label {
                                font-size: 15px;
                                text-align: start;
                                margin-top: 5px;
                            }

                            .Useradd_content_information_content_address_input_box2_select {
                                width: 100px;
                                height: 30px;
                                margin-top: 5px;
                                display: flex;
                                justify-content: start;
                            }
                        }

                        .Useradd_content_information_content_address_input_box3 {
                            .Useradd_content_information_content_address_input_box3_label {
                                font-size: 15px;
                                text-align: start;
                                margin-top: 5px;
                            }

                            .Useradd_content_information_content_address_input_box3_tag {
                                width: 300px;
                                height: 30px;
                                margin-top: 5px;
                                display: flex;
                                justify-content: start;
                            }
                        }

                        .Useradd_content_information_content_address_input_box4 {
                            .Useradd_content_information_content_address_input_box4_label {
                                font-size: 15px;
                                text-align: start;
                                margin-top: 5px;
                            }

                            .Useradd_content_information_content_address_input_box4_tag {
                                width: 300px;
                                height: 30px;
                                margin-top: 5px;
                                display: flex;
                                justify-content: start;
                            }
                        }
                    }
                }

                .Useradd_content_information_content_emailaddress {
                    display: flex;
                    .Useradd_content_information_content_emailaddress_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .Useradd_content_information_content_emailaddress_content_txt {
                            color: #727272;
                            font-size: 15px;
                        }
                    }

                    .Useradd_content_information_content_emailaddress_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10px;
                        width: 70%;
                        .Useradd_content_information_content_emailaddress_inputtag {
                            font-size: 15px;

                        }
                    }
                }
            }

            .Useradd_content_information_personalInfor {
                margin-top: 50px;
                display: flex;
                justify-content: start;
                p {
                    width: 10px;
                    height: 18px;
                    margin-top: 2px;
                    border-left: 2px solid #0045FF;
                }

                .Useradd_content_information_personalInfor_text {
                    font-size: 15px;
                    font-weight: bold;

                }
            }

            .Useradd_content_information_personalInfor_textarea {
                margin-top: 20px;
                div {
                    width: 100%;
                    height: 300px;
                    padding: 10px 10px;
                    font-size: 15px;
                    border: 1px groove gray;
                    overflow-y: scroll; 
                    text-align: start;
                }
            }

            .Useradd_content_information_personalInfor_textbox {
                margin-top: 30px;
                width: 200px;
                margin: auto;
                margin-top: 30px;
                background-color: #f4f7f6;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input {
                    width: 15px;
                    height: 15px;
                    margin-left: 10px;
                }
                p {
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .Useradd_content_information_personalInfor_btn {
                margin-top: 50px;
                .Useradd_content_information_personalInfor_btn_back {
                    font-size: 15px;
                    color: white;
                    background-color: #727272;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                }

                .Useradd_content_information_personalInfor_btn_next {
                    font-size: 15px;
                    color: white;
                    background-color: #0045FF;
                    padding: 10px 20px;
                    border: none;
                    margin-left: 30px;
                    border-radius: 5px;
                }
            }
        }
    }
}


.Userconf {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Userconf_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 132px;
        .Userconf_content_Header {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 30px ;
           .Userconf_content_Header_firststep_circle {
                width: 40px;
                height: 80px;
                .Userconf_content_Header_firststep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:#727272;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #727272;
                }
            }

            .Userconf_content_Header_firststep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #727272;
            }

            .Userconf_content_Header_secondstep_circle {
                width: 40px;
                height: 80px;
                .Userconf_content_Header_secondstep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #0045FF;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #0045FF;
                }
            }

            .Userconf_content_Header_secondstep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #0045FF;
            }

            .Userconf_content_Header_thirdstep_circle {
                width: 40px;
                height: 80px;
                .Userconf_content_Header_thirdstep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #727272;
                }
            }

            .Userconf_content_Header_thirdstep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #727272;
            }
        }

        .Userconf_content_information {
            width: 100%;
            height: auto;
            margin-top: 20px;
            padding: 50px 20px;
            background-color: white;
            .Userconf_content_information_title {
                width: 100%;
                height: auto;
                display: flex;
                .Userconf_content_information_title_symbol {
                    width: 8px;
                    height: 20px;
                    border-left: 2px solid #0045FF;
                }
                .Userconf_content_information_title_text {
                    font-size: 20px;
                    margin-top: -5px;
                }
            }

            .Userconf_content_information_content {
                margin-top: 10px;
                width: 100%;
                height: auto;

                .Userconf_content_information_content_partname {
                    .Userconf_content_information_content_partname_title {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10px 10px;
                        .Userconf_content_information_content_partname_title_txt {
                            color: #727272;
                            font-size: 15px;
                            text-align: start;
                        }
                    }

                    .Userconf_content_information_content_partname_content {
                        padding: 0 10px;
                        width: 70%;
                        .Userconf_content_information_content_partname_content_txt {
                            height: 30px;
                            font-size: 15px;
                            text-align: start;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .Userconf_content_information_content_name {
                    .Userconf_content_information_content_name_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10px 10px;
                        .Userconf_content_information_content_name_content_txt {
                            color: #727272;
                            font-size: 15px;
                            text-align: start;
                        }
                    }

                    .Userconf_content_information_content_name_input {
                        padding: 0 10px;
                        width: 70%;
                        p {
                            font-size: 15px;
                            margin-right: 10px;
                            text-align: start;
                        }
                    }
                }

                .Userconf_content_information_content_phonenum {
                    .Userconf_content_information_content_phonenum_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10px 10px;
                        .Userconf_content_information_content_phonenum_content_txt {
                            color: #727272;
                            font-size: 15px;
                            text-align: start;
                        }
                    }

                    .Userconf_content_information_content_phonenum_input {
                        padding: 0 10px;
                        width: 70%;
                        p {
                            font-size: 15px;
                            margin-right: 10px;
                            text-align: start;
                        }
                    }
                }

                .Userconf_content_information_content_address {
                    .Userconf_content_information_content_address_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10px 10px;
                        p {
                            color: #727272;
                            font-size: 15px;
                            text-align: start;
                        }
                    }

                    .Userconf_content_information_content_address_input {
                        padding: 15px 10px;
                        width: 70%;
                        .Userconf_content_information_content_address_input_box1 {
                            p {
                                font-size: 15px;
                                text-align: start;
                            }
                        }
                    }
                }

                .Userconf_content_information_content_emailaddress {
                    display: flex;
                    .Userconf_content_information_content_emailaddress_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .Userconf_content_information_content_emailaddress_content_txt {
                            color: #727272;
                            font-size: 15px;
                        }
                    }

                    .Userconf_content_information_content_emailaddress_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10px;
                        width: 70%;
                        .Userconf_content_information_content_emailaddress_inputtag {
                            font-size: 15px;

                        }
                    }
                }
            }

            .Userconf_content_information_personalInfor {
                margin-top: 50px;
                display: flex;
                justify-content: start;
                p {
                    width: 10px;
                    height: 18px;
                    margin-top: 2px;
                    border-left: 2px solid #0045FF;
                }

                .Userconf_content_information_personalInfor_text {
                    font-size: 15px;
                    font-weight: bold;

                }
            }

            .Userconf_content_information_personalInfor_textarea {
                margin-top: 20px;
                div {
                    width: 100%;
                    height: 300px;
                    padding: 10px 10px;
                    font-size: 15px;
                    border: 1px groove gray;
                    overflow-y: scroll; 
                    text-align: start;
                }
            }

            .Userconf_content_information_personalInfor_textbox {
                margin-top: 30px;
                width: 200px;
                margin: auto;
                margin-top: 30px;
                background-color: #f4f7f6;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input {
                    width: 15px;
                    height: 15px;
                    margin-left: 10px;
                }
                p {
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .Userconf_content_information_personalInfor_btn {
                margin-top: 50px;
                .Userconf_content_information_personalInfor_btn_back {
                    font-size: 15px;
                    color: white;
                    background-color: #727272;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                }

                .Userconf_content_information_personalInfor_btn_next {
                    font-size: 15px;
                    color: white;
                    background-color: #0045FF;
                    padding: 10px 20px;
                    border: none;
                    margin-left: 30px;
                    border-radius: 5px;
                }
            }
        }
    }
}


.Useraddfinish {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Useraddfinish_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 588px;
        .Useraddfinish_content_Header {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 30px ;
           .Useraddfinish_content_Header_firststep_circle {
                width: 40px;
                height: 80px;
                .Useraddfinish_content_Header_firststep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:#727272;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #727272;
                }
            }

            .Useraddfinish_content_Header_firststep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #727272;
            }

            .Useraddfinish_content_Header_secondstep_circle {
                width: 40px;
                height: 80px;
                .Useraddfinish_content_Header_secondstep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #727272;
                }
            }

            .Useraddfinish_content_Header_secondstep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #727272;
            }

            .Useraddfinish_content_Header_thirdstep_circle {
                width: 40px;
                height: 80px;
                .Useraddfinish_content_Header_thirdstep_circle_num {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 22px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #0045FF;
                }
                p {
                    margin-top: 10px;
                    font-size: 15px;
                    color: #0045FF;
                }
            }

            .Useraddfinish_content_Header_thirdstep_line {
                width: 240px;
                height: 3px;
                margin-top: -20px;
                background-color: #0045FF;
            }
        }

        .Useraddfinish_content_information {
            width: 100%;
            height: auto;
            margin-top: 20px;
            padding: 50px 20px;
            background-color: #ffffff;
            .Useraddfinish_content_information_title {
                width: 100%;
                height: auto;
                p {
                    text-align: start;
                    font-size: 15px;
                }
            }

            .Useraddfinish_content_information_personalInfor_btn {
                margin-top: 50px;
                .Useraddfinish_content_information_personalInfor_btn_next {
                    font-size: 15px;
                    color: white;
                    background-color: #0045FF;
                    padding: 10px 20px;
                    border: none;
                    margin-left: 30px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Newpass {
    width: 100%;
    background: #00B3FF;
    height: 100%;

    .Newpass_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 338px;

        .Newpass_part {
            width: 70%;
            height: auto;
            margin: auto;
            background-color: white;
            padding: 30px 20px;
            .Newpass_part_text {
                display: flex;
                justify-content: start;
                align-items: center;
                div {
                    width: 10px;
                    height: 25px;
                    border-left: 3px solid #0045FF;
                }

                p {
                    font-size: 20px;
                }
            }

            .Newpass_part_letter {
                font-size: 15px;
                text-align: start;
                margin-top: 20px;
            }

            .Newpass_part_Pass {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 20px;
                p {
                   font-size: 15px; 
               }
               input {
                margin-left: 150px;
                width: 300px;
                height: 30px;
               }
            }

            .Newpass_part_Passconfirm {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 20px;
                p {
                   font-size: 15px; 
               }
               input {
                margin-left: 90px;
                width: 300px;
                height: 30px;
               }
            }

            .Newpass_part_btn {
                margin-top: 50px;
                button {
                    padding: 20px 10px;
                    font-size: 15px;
                    color: white;
                    background-color: #0045FF;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Newpassfinish {
    width: 100%;
    background: #00B3FF;
    height: 100%;

    .Newpassfinish_content {
        position: relative;
        max-width: $pc;
        padding: 10px 110px;
        height: 100%;
        margin: auto;
        padding-bottom: 448px;

        .Newpassfinish_part {
            width: 70%;
            height: auto;
            margin: auto;
            background-color: white;
            padding: 30px 20px;
            .Newpassfinish_part_text {
                display: flex;
                justify-content: start;
                align-items: center;
                div {
                    width: 10px;
                    height: 25px;
                    border-left: 3px solid #0045FF;
                }

                p {
                    font-size: 20px;
                }
            }

            .Newpassfinish_part_letter {
                font-size: 15px;
                text-align: start;
                margin-top: 20px;
            }

           
            .Newpassfinish_part_btn {
                margin-top: 50px;
                button {
                    padding: 15px 30px;
                    font-size: 15px;
                    color: white;
                    background-color: #0045FF;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}