*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
text-decoration: none !important;
}

img {
width: 100%;
}

table, th, td {
    border: 1rem solid rgb(202, 199, 199);
    border-collapse: collapse;
}

.adminNavbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #0045FF;

    .adminNavbar_logo {
        margin-left: 15px;
        img {
            height: 30px;
            width: 200px;
        }
    }
}
    
.admin_logoutnav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0045FF;

    .admin_logoutnav_firstDiv {
        height: 70px;
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        .admin_logoutnav_firstDiv_part {
            border-right: 1px groove rgb(118, 118, 118);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                height: 30px;
                width: 200px;
            }
            p, a{
                cursor: default;
                color: white;
                font-weight: bold;
                font-size: 15px;
                padding: 0 10px;
            }
            
        }
        .rightMg {
            border-right: 0 !important;
            border-left: 1px groove rgb(118, 118, 118) !important;
            .box {
                margin-top: 4px;
            }
            p {
                margin-left: 5px;
            }
        }
    }
}

.navIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminLayer {
    width: 100%;
    height: 60px;
    background-color: #ededed;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    .adminLayer_rsvlist {
        display: flex;
        justify-content: start;
        align-items: center;
        .adminLayer_rsvlist_toHome {
            background-color: #0045FF;
            padding: 7px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            p {
                font-size: 13px;
                font-weight: bold;
                color: white;
                border-radius: 3px;
                margin-left: 5px;
            }
        }

        .adminLayer_rsvlist_title {
            font-size: 20px;
            color: #727272;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}

.adminLogin {
    width: 100%;
    height: 500px;
    
    .adminLogin_part {
        width: 420px;
        height: 340px;
        margin: auto;
        margin-top: 230px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        .adminLogin_part_text {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 25px 20px;
            div {
                width: 10px;
                height: 25px;
                border-left: 2px solid #d8d8d8;
            }
            p {
                font-size: 17px;
                font-weight: bold;
                color: #727272;
            }
        }

        .adminLogin_part_ID {
            width: 100%;
            padding: 0 20px;
            p {
                text-align: start;
                font-size: 15px;
                color: #727272;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                height: 30px;
            }
        }

        .adminLogin_part_Pass {
            width: 100%;
            padding: 0 20px;
            margin-top: 25px;
            p {
                text-align: start;
                font-size: 15px;
                color: #727272;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                height: 30px;
            }
        }

        .adminLogin_part_btn {
            width: 100%;
            height: auto;
            margin-top: 20px;
            button {
                margin: auto;
                padding: 10px 50px;
                font-size: 15px;
                color: white;
                background-color: #5180ff;
                border: none;
                border-radius: 3px;
            }
        }

        .adminLogin_part_passlost {
            margin-top: 10px;
            p {
                font-size: 15px;
                color: #0045FF;
            }
        }
    }
}

.adminResetpass {
    width: 100%;
    height: 800px;
    
    .adminResetpass_part {
        width: 420px;
        height: 500px;
        margin: auto;
        margin-top: 230px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 25px 20px;
        .adminResetpass_part_text {
            display: flex;
            align-items: center;
            justify-content: start;
            .adminResetpass_part_text_content {
                width: 100%;
                height: auto;
                font-size: 15px;
                font-weight: bold;
                color: #727272;
                border:1px solid #ff8c2f;
                background-color: #ffddc1;
                padding: 15px 20px;
                text-align: start;
                .paddingleft {
                    padding-left: 30px;
                }
            }
        }

        .adminResetpass_part_ID {
            width: 100%;
            p {
                text-align: start;
                font-size: 15px;
                color: #727272;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            div {
                display: flex;
                justify-content: start;
                input {
                    width: 80%;
                    height: 30px;
                }
            }
        }

        .adminResetpass_part_Pass {
            width: 100%;
            padding: 5px 10px;
            margin-top:10px;
            background-color: #f7f7f7;
            color: #727272;
            font-size: 15px;
            text-align: start;
        }

        .adminResetpass_part_btn {
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .adminResetpass_part_btn_back {
                margin: auto;
                padding: 5px 20px;
                font-size: 15px;
                color: white;
                background-color: #727272;
                border: none;
                border-radius: 3px;
            }
            .adminResetpass_part_btn_send {
                margin: auto;
                padding: 10px 50px;
                font-size: 15px;
                color: white;
                margin-left: 30px;
                background-color: #5180ff;
                border: none;
                border-radius: 3px;
            }
        }
    }
}

.adminResetpassSend {
    width: 100%;
    height: 600px;
    
    .adminResetpassSend_part {
        width: 420px;
        height: 540px;
        margin: auto;
        margin-top: 230px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 25px 20px;
        .adminResetpassSend_part_text {
            display: flex;
            align-items: center;
            justify-content: start;
            .adminResetpassSend_part_text_content {
                width: 100%;
                height: auto;
                font-size: 15px;
                font-weight: bold;
                color: #727272;
                border:1px solid #02d849;
                background-color: #dcffc3;
                padding: 15px 20px;
                text-align: start;
                .paddingleft {
                    margin-top: -25px;
                    padding-left: 30px;
                }
            }
        }

        .adminResetpassSend_part_ID {
            width: 100%;
            p {
                text-align: start;
                font-size: 15px;
                color: #727272;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            div {
                display: flex;
                justify-content: start;
                input {
                    width: 80%;
                    height: 30px;
                }
            }
        }

        .adminResetpassSend_part_Pass {
            width: 100%;
            padding: 5px 10px;
            margin-top:10px;
            background-color: #f7f7f7;
            color: #727272;
            font-size: 15px;
            font-weight: bold;
            text-align: start;
        }

        .adminResetpassSend_part_btn {
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .adminResetpassSend_part_btn_back {
                margin: auto;
                padding: 5px 20px;
                font-size: 15px;
                color: white;
                background-color: #727272;
                border: none;
                border-radius: 3px;
            }
            .adminResetpassSend_part_btn_send {
                margin: auto;
                padding: 10px 50px;
                font-size: 15px;
                color: white;
                margin-left: 30px;
                background-color: #5180ff;
                border: none;
                border-radius: 3px;
            }
        }
    }
}

.adminResetpassSendconf {
    width: 100%;
    height: 400px;
    
    .adminResetpassSendconf_part {
        width: 420px;
        height: 240px;
        margin: auto;
        margin-top: 230px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 25px 20px;
        .adminResetpassSendconf_part_text {
            display: flex;
            align-items: center;
            justify-content: start;
            .adminResetpassSendconf_part_text_content {
                width: 100%;
                height: auto;
                font-size: 15px;
                font-weight: bold;
                color: #727272;
                border:1px solid #02d849;
                background-color: #dcffc3;
                padding: 15px 20px;
                text-align: start;
                .paddingleft {
                    margin-top: -25px;
                    padding-left: 30px;
                }
            }
        }

        .adminResetpassSendconf_part_btn {
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .adminResetpassSendconf_part_btn_back {
                margin: auto;
                padding: 5px 20px;
                font-size: 15px;
                color: white;
                background-color: #727272;
                border: none;
                border-radius: 3px;
            }
        }
    }
}

.AdminToppage {
    width: 100%;
    height: 100%;
    padding: 80px 100px;

    .AdminToppage_firsttable {
        .AdminToppage_firsttable_title {
            font-size: 20px;
            font-weight: bold;
            border-left: 2px solid #0045FF;
            display: flex;
            justify-content: start;
            align-items: center;
            color: #5180ff;
            height: 25px;
            padding-left: 10px;
        }

        table {
            margin-top: 30px;
            width: 100%;
            thead {
                tr {
                    td {
                        font-size: 20px;
                        background-color: #5180ff;
                        color: white;
                        padding: 5px;
                        width: 33%;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 17px;
                        color: #0045FF;
                        padding: 15px;
                    }
                }
            }
        }
    }

    .AdminToppage_secondtable {
        margin-top: 70px;
        .AdminToppage_secondtable_title {
            font-size: 20px;
            font-weight: bold;
            border-left: 2px solid #0045FF;
            display: flex;
            justify-content: start;
            align-items: center;
            color: #5180ff;
            height: 25px;
            padding-left: 10px;
        }

        table {
            margin-top: 30px;
            width: 100%;
            thead {
                tr {
                    td {
                        font-size: 20px;
                        background-color: #5180ff;
                        color: white;
                        padding: 5px;
                        width: 33%;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 17px;
                        color: #0045FF;
                        padding: 15px;
                    }
                }
            }
        }
    }
}

.AdminrsvList {
    width: 100%;
    height: auto;
    padding: 40px 80px;

    .AdminrsvList_firsttable {
        border: none;
        border-radius: 5px;
        background-color: #f3f3f3;
        .AdminrsvList_firsttable_title {
            width: 100%;
            background-color: #5180ff;
            border-radius: 5px 5px 0 0;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 10px 20px;
            div {
                font-size: 17px;
                color: white;
                font-weight: bold;
                border-left: 2px solid white;
                padding-left: 10px;
            }
        }

        .AdminrsvList_firsttable_table {
            width: 100%;
            padding: 50px 20px;
            table {
                border: 1px solid #727272;
                width: 100%;
                tbody {
                    tr {
                        .AdminrsvList_firsttable_table_label {
                            font-size: 15px;
                            color: #727272;
                            width: 30%;
                            text-align: start;
                            padding: 15px 10px;
                            font-weight: bold;
                            background-color: #eee;
                        }

                        div {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            height: 100%;
                            padding: 10px 20px;
                            background-color: #fefefe;
                            input {
                                width: 300px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }

        .AdminrsvList_firsttable_btnGroup {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

            .AdminrsvList_firsttable_btnGroup_back {
                padding: 10px 20px;
                font-size: 15px;
                background-color: #727272;
                color: white;
                border: none;
                border-radius: 3px;
            }

            .AdminrsvList_firsttable_btnGroup_next {
                padding: 15px 30px;
                background-color: #5180ff;
                color: white;
                border: none;
                border-radius: 3px;
                margin-left: 30px;
            }
        }
    }
}

.AdminrsvCalendar_content_form {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;

    .undisplay {
        display: none;
    }
    .display {
        display: block;
    }

    .AdminrsvCalendar_content_form_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .AdminrsvCalendar_content_form_nav_calendar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            
            .AdminrsvCalendar_content_form_nav_calendar_body {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                .re_span {
                    font-size: 20rem;
                    color: #727272;
                    font-weight: bold;
                    margin-left: 5rem;
                    margin-right: -5rem;
                }
                margin-left: -10rem;
            }
        }

        .AdminrsvCalendar_content_form_nav_filter {
            font-size: 15rem;
            padding: 7px 15px;
            border-radius: 5px;
            background-color: #e71173;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                cursor: default;
                color: white;
            }
            .AdminrsvCalendar_content_form_nav_filter_box {
                margin-top: 5px;
            }
        }
    }

    .AdminrsvCalendar_content_form_calendar {
        width: 100%;
        height: auto;
        border: 2px solid #dddfde;

        .AdminrsvCalendar_content_form_calendar_colors {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 13px;
            color: #727272;
            padding: 7px 7px;

            .rsv_color1 {background-color: #727272; width: 20px; height: 13px;}
            .rsv_color2 {background-color: yellow; width: 20px; height: 13px;}
            .rsv_color3 {background-color: rgba(255, 183, 0, 0.413); width: 20px; height: 13px;}
            .rsv_color4 {background-color: #59f63657; width: 20px; height: 13px;}
            .rsv_color5 {background-color: #06c9df6f; width: 20px; height: 13px;}
            .rsv_color6 {background-color: #0c84f47a; width: 20px; height: 13px;}
            .rsv_color7 {background-color: #8524fb6c; width: 20px; height: 13px;}
            .rsv_color8 {background-color: #ef15777f; width: 20px; height: 13px;}

            p {
                margin: 0 10px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        background-color: #dddfde;
                        width: 14.28571428571429rem;
                        font-size: 15px;
                        padding: 15px 0;
                        color: #727272;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        .calendar_date {
                            font-size: 15px;
                            padding: 10px 10px;
                            text-align: start;
                        }
                        .space_box {
                            width: 100%;
                            height: 30rem;
                        }
                        .rsv_box {
                            width: 100%;
                            height: auto;
                            font-size: 10px;
                            padding-bottom: 10rem;
                            .undisplay {
                                display: none;
                            }
                            .display {
                                display: block;
                            }
                            .rsv_1 {
                                background-color:rgba(255, 183, 0, 0.413);
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_2 {
                                background-color: #59f63657;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_3 {
                                background-color: #06c9df6f;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_4 {
                                background-color: #0c84f47a;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_5 {
                                background-color: #8524fb6c;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_6 {
                                background-color: #ef15777f;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_1:hover {
                                background-color:rgba(255, 183, 0, 0.259);
                            }
                            .rsv_2:hover {
                                background-color: #59f6363a;
                            }
                            .rsv_3:hover {
                                background-color:#06c9df45;
                            }
                            .rsv_4:hover {
                                background-color:#0c84f446;
                            }
                            .rsv_5:hover {
                                background-color:#8524fb44;
                            }
                            .rsv_6:hover {
                                background-color:#ef157753;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Modal-header {
    height: 50px;
    background-color: #0045FF;
    display: flex;
    align-items: center;
    justify-content: end;
    span {
        font-size: 35px;
        color: white;
        margin-right: 20px;
        cursor: default;
    }
}

.Modal-body {
    padding: 30px 10px;
    display: flex;
    justify-content: start;
    align-items: center;

    .Modal-firstdiv {
        display: flex;
        justify-content: start;
        align-items: center;
        div {
            margin-left: 30px;
            .boldfont {
                font-size: 18px;
                font-weight: bold;
                color: #727272;
                text-align: start;
            }
            p {
                font-size: 18px;
                color: #727272;
                text-align: start;
            }
        }
    }

    .Modal-btndiv {
        margin-left: 50px;
        button {
            padding: 10px 15px;
            border: none;
            border-radius: 25px;
            color: white;
            background-color: #e71173;
        }
    }
}

.Menu-Modal-header {
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    p {
        font-size: 25px;
        font-weight: bold;
        color: #727272;
        margin-left: 15px;
        margin-right: 15px;
        cursor: default;
    }
}

.Menu-Modal-body {
    padding: 30px 20px;
    .Menu-Modal-body-firstdiv-settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        p {
            color: #727272;
            font-size: 15px;
            cursor: default;
        }
    }

    .fontbold {
        font-weight: bold;
        justify-content: start !important;
        p {
            margin-left: 10px;
        }
    }

    .line {
        margin-top: 20px;
        border-bottom: 1px groove #727272;
    }
}