*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

table, th, td {
  border: 1rem solid rgb(202, 199, 199);
  border-collapse: collapse;
}

.adminNavbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #0045FF;
}
.adminNavbar .adminNavbar_logo {
  margin-left: 15px;
}
.adminNavbar .adminNavbar_logo img {
  height: 30px;
  width: 200px;
}

.admin_logoutnav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0045FF;
}
.admin_logoutnav .admin_logoutnav_firstDiv {
  height: 70px;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.admin_logoutnav .admin_logoutnav_firstDiv .admin_logoutnav_firstDiv_part {
  border-right: 1px groove rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.admin_logoutnav .admin_logoutnav_firstDiv .admin_logoutnav_firstDiv_part img {
  height: 30px;
  width: 200px;
}
.admin_logoutnav .admin_logoutnav_firstDiv .admin_logoutnav_firstDiv_part a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 0 10px;
}
.admin_logoutnav .admin_logoutnav_firstDiv .rightMg {
  border-right: 0 !important;
  border-left: 1px groove rgb(118, 118, 118) !important;
}
.admin_logoutnav .admin_logoutnav_firstDiv .rightMg .box {
  margin-top: 4px;
}
.admin_logoutnav .admin_logoutnav_firstDiv .rightMg p {
  margin-left: 5px;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminLayer {
  width: 100%;
  height: 60px;
  background-color: #ededed;
  padding: 10px 80px;
  display: flex;
  align-items: center;
}
.adminLayer .adminLayer_rsvlist {
  display: flex;
  justify-content: start;
  align-items: center;
}
.adminLayer .adminLayer_rsvlist .adminLayer_rsvlist_toHome {
  background-color: #0045FF;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.adminLayer .adminLayer_rsvlist .adminLayer_rsvlist_toHome p {
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  margin-left: 5px;
}
.adminLayer .adminLayer_rsvlist .adminLayer_rsvlist_title {
  font-size: 20px;
  color: #727272;
  font-weight: bold;
  margin-left: 10px;
}

.adminLogin {
  width: 100%;
  height: 500px;
}
.adminLogin .adminLogin_part {
  width: 420px;
  height: 340px;
  margin: auto;
  margin-top: 230px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.adminLogin .adminLogin_part .adminLogin_part_text {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 25px 20px;
}
.adminLogin .adminLogin_part .adminLogin_part_text div {
  width: 10px;
  height: 25px;
  border-left: 2px solid #d8d8d8;
}
.adminLogin .adminLogin_part .adminLogin_part_text p {
  font-size: 17px;
  font-weight: bold;
  color: #727272;
}
.adminLogin .adminLogin_part .adminLogin_part_ID {
  width: 100%;
  padding: 0 20px;
}
.adminLogin .adminLogin_part .adminLogin_part_ID p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.adminLogin .adminLogin_part .adminLogin_part_ID input {
  width: 100%;
  height: 30px;
}
.adminLogin .adminLogin_part .adminLogin_part_Pass {
  width: 100%;
  padding: 0 20px;
  margin-top: 25px;
}
.adminLogin .adminLogin_part .adminLogin_part_Pass p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.adminLogin .adminLogin_part .adminLogin_part_Pass input {
  width: 100%;
  height: 30px;
}
.adminLogin .adminLogin_part .adminLogin_part_btn {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.adminLogin .adminLogin_part .adminLogin_part_btn button {
  margin: auto;
  padding: 10px 50px;
  font-size: 15px;
  color: white;
  background-color: #5180ff;
  border: none;
  border-radius: 3px;
}
.adminLogin .adminLogin_part .adminLogin_part_passlost {
  margin-top: 10px;
}
.adminLogin .adminLogin_part .adminLogin_part_passlost p {
  font-size: 15px;
  color: #0045FF;
}

.adminResetpass {
  width: 100%;
  height: 800px;
}
.adminResetpass .adminResetpass_part {
  width: 420px;
  height: 500px;
  margin: auto;
  margin-top: 230px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_text {
  display: flex;
  align-items: center;
  justify-content: start;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_text .adminResetpass_part_text_content {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  color: #727272;
  border: 1px solid #ff8c2f;
  background-color: #ffddc1;
  padding: 15px 20px;
  text-align: start;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_text .adminResetpass_part_text_content .paddingleft {
  padding-left: 30px;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_ID {
  width: 100%;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_ID p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-top: 30px;
  margin-bottom: 10px;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_ID div {
  display: flex;
  justify-content: start;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_ID div input {
  width: 80%;
  height: 30px;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_Pass {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #f7f7f7;
  color: #727272;
  font-size: 15px;
  text-align: start;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_btn {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_btn .adminResetpass_part_btn_back {
  margin: auto;
  padding: 5px 20px;
  font-size: 15px;
  color: white;
  background-color: #727272;
  border: none;
  border-radius: 3px;
}
.adminResetpass .adminResetpass_part .adminResetpass_part_btn .adminResetpass_part_btn_send {
  margin: auto;
  padding: 10px 50px;
  font-size: 15px;
  color: white;
  margin-left: 30px;
  background-color: #5180ff;
  border: none;
  border-radius: 3px;
}

.adminResetpassSend {
  width: 100%;
  height: 600px;
}
.adminResetpassSend .adminResetpassSend_part {
  width: 420px;
  height: 540px;
  margin: auto;
  margin-top: 230px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_text {
  display: flex;
  align-items: center;
  justify-content: start;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_text .adminResetpassSend_part_text_content {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  color: #727272;
  border: 1px solid #02d849;
  background-color: #dcffc3;
  padding: 15px 20px;
  text-align: start;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_text .adminResetpassSend_part_text_content .paddingleft {
  margin-top: -25px;
  padding-left: 30px;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_ID {
  width: 100%;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_ID p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-top: 30px;
  margin-bottom: 10px;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_ID div {
  display: flex;
  justify-content: start;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_ID div input {
  width: 80%;
  height: 30px;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_Pass {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #f7f7f7;
  color: #727272;
  font-size: 15px;
  font-weight: bold;
  text-align: start;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_btn {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_btn .adminResetpassSend_part_btn_back {
  margin: auto;
  padding: 5px 20px;
  font-size: 15px;
  color: white;
  background-color: #727272;
  border: none;
  border-radius: 3px;
}
.adminResetpassSend .adminResetpassSend_part .adminResetpassSend_part_btn .adminResetpassSend_part_btn_send {
  margin: auto;
  padding: 10px 50px;
  font-size: 15px;
  color: white;
  margin-left: 30px;
  background-color: #5180ff;
  border: none;
  border-radius: 3px;
}

.adminResetpassSendconf {
  width: 100%;
  height: 400px;
}
.adminResetpassSendconf .adminResetpassSendconf_part {
  width: 420px;
  height: 240px;
  margin: auto;
  margin-top: 230px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
}
.adminResetpassSendconf .adminResetpassSendconf_part .adminResetpassSendconf_part_text {
  display: flex;
  align-items: center;
  justify-content: start;
}
.adminResetpassSendconf .adminResetpassSendconf_part .adminResetpassSendconf_part_text .adminResetpassSendconf_part_text_content {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  color: #727272;
  border: 1px solid #02d849;
  background-color: #dcffc3;
  padding: 15px 20px;
  text-align: start;
}
.adminResetpassSendconf .adminResetpassSendconf_part .adminResetpassSendconf_part_text .adminResetpassSendconf_part_text_content .paddingleft {
  margin-top: -25px;
  padding-left: 30px;
}
.adminResetpassSendconf .adminResetpassSendconf_part .adminResetpassSendconf_part_btn {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminResetpassSendconf .adminResetpassSendconf_part .adminResetpassSendconf_part_btn .adminResetpassSendconf_part_btn_back {
  margin: auto;
  padding: 5px 20px;
  font-size: 15px;
  color: white;
  background-color: #727272;
  border: none;
  border-radius: 3px;
}

.AdminToppage {
  width: 100%;
  height: 100%;
  padding: 80px 100px;
}
.AdminToppage .AdminToppage_firsttable .AdminToppage_firsttable_title {
  font-size: 20px;
  font-weight: bold;
  border-left: 2px solid #0045FF;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #5180ff;
  height: 25px;
  padding-left: 10px;
}
.AdminToppage .AdminToppage_firsttable table {
  margin-top: 30px;
  width: 100%;
}
.AdminToppage .AdminToppage_firsttable table thead tr td {
  font-size: 20px;
  background-color: #5180ff;
  color: white;
  padding: 5px;
  width: 33%;
}
.AdminToppage .AdminToppage_firsttable table tbody tr td {
  font-size: 17px;
  color: #0045FF;
  padding: 15px;
}
.AdminToppage .AdminToppage_secondtable {
  margin-top: 70px;
}
.AdminToppage .AdminToppage_secondtable .AdminToppage_secondtable_title {
  font-size: 20px;
  font-weight: bold;
  border-left: 2px solid #0045FF;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #5180ff;
  height: 25px;
  padding-left: 10px;
}
.AdminToppage .AdminToppage_secondtable table {
  margin-top: 30px;
  width: 100%;
}
.AdminToppage .AdminToppage_secondtable table thead tr td {
  font-size: 20px;
  background-color: #5180ff;
  color: white;
  padding: 5px;
  width: 33%;
}
.AdminToppage .AdminToppage_secondtable table tbody tr td {
  font-size: 17px;
  color: #0045FF;
  padding: 15px;
}

.AdminrsvList {
  width: 100%;
  height: auto;
  padding: 40px 80px;
}
.AdminrsvList .AdminrsvList_firsttable {
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_title {
  width: 100%;
  background-color: #5180ff;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 20px;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_title div {
  font-size: 17px;
  color: white;
  font-weight: bold;
  border-left: 2px solid white;
  padding-left: 10px;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_table {
  width: 100%;
  padding: 50px 20px;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_table table {
  border: 1px solid #727272;
  width: 100%;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_table table tbody tr .AdminrsvList_firsttable_table_label {
  font-size: 15px;
  color: #727272;
  width: 30%;
  text-align: start;
  padding: 15px 10px;
  font-weight: bold;
  background-color: #eee;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_table table tbody tr div {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 10px 20px;
  background-color: #fefefe;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_table table tbody tr div input {
  width: 300px;
  height: 30px;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_btnGroup {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_btnGroup .AdminrsvList_firsttable_btnGroup_back {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #727272;
  color: white;
  border: none;
  border-radius: 3px;
}
.AdminrsvList .AdminrsvList_firsttable .AdminrsvList_firsttable_btnGroup .AdminrsvList_firsttable_btnGroup_next {
  padding: 15px 30px;
  background-color: #5180ff;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
}

.AdminrsvCalendar_content_form {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}
.AdminrsvCalendar_content_form .undisplay {
  display: none;
}
.AdminrsvCalendar_content_form .display {
  display: block;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav .AdminrsvCalendar_content_form_nav_calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav .AdminrsvCalendar_content_form_nav_calendar .AdminrsvCalendar_content_form_nav_calendar_body {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  margin-left: -10rem;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav .AdminrsvCalendar_content_form_nav_calendar .AdminrsvCalendar_content_form_nav_calendar_body .re_span {
  font-size: 20rem;
  color: #727272;
  font-weight: bold;
  margin-left: 5rem;
  margin-right: -5rem;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav .AdminrsvCalendar_content_form_nav_filter {
  font-size: 15rem;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #e71173;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav .AdminrsvCalendar_content_form_nav_filter p {
  cursor: default;
  color: white;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_nav .AdminrsvCalendar_content_form_nav_filter .AdminrsvCalendar_content_form_nav_filter_box {
  margin-top: 5px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar {
  width: 100%;
  height: auto;
  border: 2px solid #dddfde;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  color: #727272;
  padding: 7px 7px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color1 {
  background-color: #727272;
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color2 {
  background-color: yellow;
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color3 {
  background-color: rgba(255, 183, 0, 0.413);
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color4 {
  background-color: rgba(89, 246, 54, 0.3411764706);
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color5 {
  background-color: rgba(6, 201, 223, 0.4352941176);
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color6 {
  background-color: rgba(12, 132, 244, 0.4784313725);
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color7 {
  background-color: rgba(133, 36, 251, 0.4235294118);
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors .rsv_color8 {
  background-color: rgba(239, 21, 119, 0.4980392157);
  width: 20px;
  height: 13px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar .AdminrsvCalendar_content_form_calendar_colors p {
  margin: 0 10px;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table {
  width: 100%;
  border-collapse: collapse;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table thead tr th {
  background-color: #dddfde;
  width: 14.2857142857rem;
  font-size: 15px;
  padding: 15px 0;
  color: #727272;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .calendar_date {
  font-size: 15px;
  padding: 10px 10px;
  text-align: start;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .space_box {
  width: 100%;
  height: 30rem;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box {
  width: 100%;
  height: auto;
  font-size: 10px;
  padding-bottom: 10rem;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .undisplay {
  display: none;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .display {
  display: block;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_1 {
  background-color: rgba(255, 183, 0, 0.413);
  border-bottom: 2px solid white;
  color: #727272;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_2 {
  background-color: rgba(89, 246, 54, 0.3411764706);
  border-bottom: 2px solid white;
  color: #727272;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_3 {
  background-color: rgba(6, 201, 223, 0.4352941176);
  border-bottom: 2px solid white;
  color: #727272;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_4 {
  background-color: rgba(12, 132, 244, 0.4784313725);
  border-bottom: 2px solid white;
  color: #727272;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_5 {
  background-color: rgba(133, 36, 251, 0.4235294118);
  border-bottom: 2px solid white;
  color: #727272;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_6 {
  background-color: rgba(239, 21, 119, 0.4980392157);
  border-bottom: 2px solid white;
  color: #727272;
  cursor: pointer;
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_1:hover {
  background-color: rgba(255, 183, 0, 0.259);
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_2:hover {
  background-color: rgba(89, 246, 54, 0.2274509804);
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_3:hover {
  background-color: rgba(6, 201, 223, 0.2705882353);
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_4:hover {
  background-color: rgba(12, 132, 244, 0.2745098039);
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_5:hover {
  background-color: rgba(133, 36, 251, 0.2666666667);
}
.AdminrsvCalendar_content_form .AdminrsvCalendar_content_form_calendar table tbody tr td .rsv_box .rsv_6:hover {
  background-color: rgba(239, 21, 119, 0.3254901961);
}

.Modal-header {
  height: 50px;
  background-color: #0045FF;
  display: flex;
  align-items: center;
  justify-content: end;
}
.Modal-header span {
  font-size: 35px;
  color: white;
  margin-right: 20px;
  cursor: default;
}

.Modal-body {
  padding: 30px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.Modal-body .Modal-firstdiv {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Modal-body .Modal-firstdiv div {
  margin-left: 30px;
}
.Modal-body .Modal-firstdiv div .boldfont {
  font-size: 18px;
  font-weight: bold;
  color: #727272;
  text-align: start;
}
.Modal-body .Modal-firstdiv div p {
  font-size: 18px;
  color: #727272;
  text-align: start;
}
.Modal-body .Modal-btndiv {
  margin-left: 50px;
}
.Modal-body .Modal-btndiv button {
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #e71173;
}/*# sourceMappingURL=index.css.map */