$pc: 1366px;
$sp: 767px; // SP

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// @font-face {
//     font-family: "Helvetica";
//     src: url(../font/Helvetica.ttf);
// }
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 1px;
  @include pc {
      font-size: 0.0732064421669107vw;
  }
  @include sp {
    font-size: 0.2666666666666667vw;
  }
}

a {
text-decoration: none !important;
}

img {
width: 100%;
}

table, th, td {
    border: 1px solid rgb(202, 199, 199);
    border-collapse: collapse;
}

.UserHome {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .UserHome_content {
        max-width: $pc;
        height: 100%;
        margin: auto;
        padding-bottom: 105rem;
        .UserHome_background {
            height: 360rem;
            width: 1120rem;
            margin: auto;
        }

        .UserHome_content_box {
            margin: auto;
            margin-top: 30rem;
            background-color: white;
            padding: 30rem 20rem;
            width: 1120rem;
            .UserHome_content_box_firstline {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .UserHome_content_box_firstline_title {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    div {
                        width: 10rem;
                        height: 20rem;
                        border-left: 2px solid #0045FF
                    }

                    p {
                        font-size: 20px;
                        font-weight: bold;
                        text-align: start;
                        color: #727272;
                    }
                }
            }

            .UserHome_content_box_secondline {
                margin-top: 10rem;
                .UserHome_content_box_secondline_p {
                    font-size: 15rem;
                    text-align: start;
                    color: #727272;
                }

                .UserHome_content_box_secondline_content {
                    margin-top: 10rem;
                    width: 300rem;
                    height: 30rem;
                    border: 2px solid #0045FF;
                    border-radius: 5px;
                    padding: 15rem 10rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-size: 15rem;
                        color: #0045FF;
                    }
                    span {
                        font-size: 15rem;
                        color: #0045FF;
                    }
                }
            }

            .UserHome_content_box_thirdline {
                .UserHome_content_box_thirdline_reset {
                    font-size: 15rem;
                    color: white;
                    background-color: #727272;
                    padding: 10rem 15rem;
                    border: none;
                    border-radius: 5px;
                }

                .UserHome_content_box_thirdline_view {
                    font-size: 15rem;
                    color: white;
                    background-color: #0045FF;
                    padding: 10rem 15rem;
                    border: none;
                    border-radius: 5px;
                    margin-left: 15rem;
                }
            }
        }
    }
}

.undisplay {
    display: none;
}

.gap {
    padding-bottom: 225rem !important;
}

.Reservationstatus {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Reservationstatus_content {
        max-width: $pc;
        height: 100%;
        margin: auto;
        padding: 10rem 110rem;
        padding-bottom: 100rem;

        .Resevationstatus_content_form {
            position: relative;
            width: 100%;
            height: auto;
            padding: 40rem 30rem;
            background-color: white;

            .undisplay {
                display: none;
            }
            .display {
                display: block;
            }

            .Resevationstatus_content_form_nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Resevationstatus_content_form_nav_calendar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    
                    .Resevationstatus_content_form_nav_calendar_body {
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 130px;
                        .re_span {
                            font-size: 20rem;
                            color: #727272;
                            font-weight: bold;
                            margin-left: 5rem;
                            margin-right: -5rem;
                        }
                        margin-left: -10rem;
                    }
                }

                .Resevationstatus_content_form_nav_filter {
                    font-size: 15rem;
                    width: 300rem;
                    height: 30rem;
                }
            }

            .Resevationstatus_content_form_calendar {
                width: 1088rem;
                height: auto;
                border: 2px solid #dddfde;

                .Resevationstatus_content_form_calendar_colors {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    font-size: 13px;
                    color: #727272;
                    padding: 7px 7px;

                    .rsv_color1 {background-color: #727272; width: 20px; height: 13px;}
                    .rsv_color2 {background-color: yellow; width: 20px; height: 13px;}
                    .rsv_color3 {background-color: rgba(255, 183, 0, 0.413); width: 20px; height: 13px;}
                    .rsv_color4 {background-color: #59f63657; width: 20px; height: 13px;}
                    .rsv_color5 {background-color: #06c9df6f; width: 20px; height: 13px;}
                    .rsv_color6 {background-color: #0c84f47a; width: 20px; height: 13px;}
                    .rsv_color7 {background-color: #8524fb6c; width: 20px; height: 13px;}
                    .rsv_color8 {background-color: #ef15777f; width: 20px; height: 13px;}

                    p {
                        margin: 0 10px;
                    }
                }

                table {
                    width: 100%;
                    border-collapse: collapse;

                    thead {
                        tr {
                            th {
                                background-color: #dddfde;
                                width: 14.28571428571429rem;
                                font-size: 15px;
                                padding: 15px 0;
                                color: #727272;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                .calendar_date {
                                    font-size: 15px;
                                    padding: 10px 10px;
                                    text-align: start;
                                }
                                .space_box {
                                    width: 100%;
                                    height: 30rem;
                                }
                                .rsv_box {
                                    width: 100%;
                                    height: auto;
                                    font-size: 10px;
                                    .undisplay {
                                        display: none;
                                    }
                                    .display {
                                        display: block;
                                    }
                                    .rsv_1 {
                                        background-color:rgba(255, 183, 0, 0.413);
                                    }
                                    .rsv_2 {
                                        background-color: #59f63657;
                                    }
                                    .rsv_3 {
                                        background-color: #06c9df6f;
                                    }
                                    .rsv_4 {
                                        background-color: #0c84f47a;
                                    }
                                    .rsv_5 {
                                        background-color: #8524fb6c;
                                    }
                                    .rsv_6 {
                                        background-color: #ef15777f;
                                        margin-bottom: 20rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.Rule {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Rule_content {
        max-width: $pc;
        height: 100%;
        padding: 10rem 110rem;
        padding-bottom: 50rem;
        margin: auto;
        .Rule_content_box {
            background-color: white;
            padding: 40rem 20rem;
            .Rule_content_title {
                display: flex;
                justify-content: start;
                align-items: center;
                div {
                    height: 20rem;
                    width: 10rem;
                    margin-top: 3rem;
                    border-left: 2px solid #0045FF;
                }
                p {
                    font-size: 20rem;
                    font-weight: bold;
                    color: #727272;
                }
            }

            .Rule_content_text {
                font-size: 15rem;
                margin-top: 30rem;
                color: #727272;
                text-align: start;
                padding: 10rem 10rem;
                border: 1px groove #727272;
            }

            .Rule_content_btn {
                margin-top: 50rem;
                button {
                    font-size: 15rem;
                    color: white;
                    padding: 15rem 15rem;
                    margin: auto;
                    background-color: #0045FF;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Userinfor {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Userinfor_content {
        position: relative;
        max-width: $pc;
        padding: 10rem 110rem;
        height: 100%;
        margin: auto;
        padding-bottom: 132rem;

        .Userinfor_content_information {
            width: 100%;
            height: auto;
            margin-top: 20rem;
            padding: 50rem 20rem;
            background-color: white;
            .Userinfor_content_information_title {
                width: 100%;
                height: auto;
                display: flex;
                .Userinfor_content_information_title_symbol {
                    width: 8rem;
                    height: 20rem;
                    border-left: 2rem solid #0045FF;
                }
                .Userinfor_content_information_title_text {
                    font-size: 20rem;
                    margin-top: -5rem;
                }
            }

            .Userinfor_content_information_content {
                margin-top: 10rem;
                width: 100%;
                height: auto;

                .Userinfor_content_information_content_partname {
                    .Userinfor_content_information_content_partname_title {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        .Userinfor_content_information_content_partname_title_txt {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Userinfor_content_information_content_partname_content {
                        padding: 0 10rem;
                        width: 70%;
                        .Userinfor_content_information_content_partname_content_txt {
                            height: 30rem;
                            font-size: 15rem;
                            text-align: start;
                            display: flex;
                            align-items: center;
                        }
                        .Userinfor_content_information_content_partname_content_btn {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            margin-bottom: 10px;
                            button {
                                background-color: #0045FF;
                                color: white;
                                border: none;
                                padding: 10px 30px;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .Userinfor_content_information_content_name {
                    .Userinfor_content_information_content_name_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        .Userinfor_content_information_content_name_content_txt {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Userinfor_content_information_content_name_input {
                        padding: 0 10rem;
                        width: 70%;
                        p {
                            font-size: 15rem;
                            margin-right: 10rem;
                            text-align: start;
                        }
                    }
                }

                .Userinfor_content_information_content_phonenum {
                    .Userinfor_content_information_content_phonenum_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        .Userinfor_content_information_content_phonenum_content_txt {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Userinfor_content_information_content_phonenum_input {
                        padding: 0 10rem;
                        width: 70%;
                        p {
                            font-size: 15rem;
                            margin-right: 10rem;
                            text-align: start;
                        }
                    }
                }

                .Userinfor_content_information_content_address {
                    .Userinfor_content_information_content_address_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        p {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Userinfor_content_information_content_address_input {
                        padding: 15rem 10rem;
                        width: 70%;
                        .Userinfor_content_information_content_address_input_box1 {
                            p {
                                font-size: 15rem;
                                text-align: start;
                            }
                        }
                    }
                }

                .Userinfor_content_information_content_emailaddress {
                    display: flex;
                    .Userinfor_content_information_content_emailaddress_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10rem 10rem;
                        .Userinfor_content_information_content_emailaddress_content_txt {
                            color: #727272;
                            font-size: 15rem;
                        }
                    }

                    .Userinfor_content_information_content_emailaddress_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10rem;
                        width: 70%;
                        .Userinfor_content_information_content_emailaddress_inputtag {
                            font-size: 15rem;

                        }
                    }
                }
            }

            .Userinfor_content_information_personalInfor {
                margin-top: 50rem;
                display: flex;
                justify-content: start;
                p {
                    width: 10rem;
                    height: 18rem;
                    margin-top: 2rem;
                    border-left: 2rem solid #0045FF;
                }

                .Userinfor_content_information_personalInfor_text {
                    font-size: 15rem;
                    font-weight: bold;

                }
            }

            .Userinfor_content_information_personalInfor_textarea {
                margin-top: 20rem;
                div {
                    width: 100%;
                    height: 300rem;
                    padding: 10rem 10rem;
                    font-size: 15rem;
                    border: 1rem groove gray;
                    overflow-y: scroll; 
                    text-align: start;
                }
            }

            .Userinfor_content_information_personalInfor_textbox {
                margin-top: 30rem;
                width: 200rem;
                margin: auto;
                margin-top: 30rem;
                background-color: #f4f7f6;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input {
                    width: 15rem;
                    height: 15rem;
                    margin-left: 10rem;
                }
                p {
                    margin-left: 5rem;
                    font-size: 15rem;
                }
            }

            .Userinfor_content_information_personalInfor_btn {
                margin-top: 50rem;
                .Userinfor_content_information_personalInfor_btn_back {
                    font-size: 15rem;
                    color: white;
                    background-color: #727272;
                    padding: 10rem 20rem;
                    border: none;
                    border-radius: 5px;
                }

                .Userinfor_content_information_personalInfor_btn_next {
                    font-size: 15rem;
                    color: white;
                    background-color: #0045FF;
                    padding: 10rem 20rem;
                    border: none;
                    margin-left: 30rem;
                    border-radius: 5px;
                }
            }
        }
    }
}


.Sendemail {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Sendemail_content {
        position: relative;
        max-width: $pc;
        padding: 10rem 110rem;
        height: 100%;
        margin: auto;
        padding-bottom: 60rem;
        .Sendemail_content_Header {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 30rem ;
           .Sendemail_content_Header_firststep_circle {
                width: 40rem;
                height: 80rem;
                position: relative;
                .Sendemail_content_Header_firststep_circle_num {
                    width: 40rem;
                    height: 40rem;
                    border-radius: 30px;
                    margin-top: 10rem;
                    font-size: 22rem;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:#0045FF;
                }
                .Sendemail_content_Header_firststep_circle_label {
                    position: absolute;
                    left: -30rem;
                    margin-top: 10rem;
                    font-size: 15rem;
                    width: 100rem;
                    color: #0045FF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .Sendemail_content_Header_firststep_line {
                width: 240rem;
                height: 3rem;
                margin-top: -20rem;
                background-color: #0045FF;
            }

            .Sendemail_content_Header_secondstep_circle {
                position: relative;
                width: 40rem;
                height: 80rem;
                .Sendemail_content_Header_secondstep_circle_num {
                    width: 40rem;
                    height: 40rem;
                    border-radius: 30px;
                    font-size: 22rem;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                    margin-top: 10rem;
                }
                .Sendemail_content_Header_secondstep_circle_label {
                    margin-top: 10rem;
                    font-size: 15rem;
                    position: absolute;
                    left: -30rem;
                    width: 100rem;
                    color: #727272;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .Sendemail_content_Header_secondstep_line {
                width: 240rem;
                height: 3rem;
                margin-top: -20rem;
                background-color: #727272;
            }

            .Sendemail_content_Header_thirdstep_circle {
                position: relative;
                width: 40rem;
                height: 80rem;
                .Sendemail_content_Header_thirdstep_circle_num {
                    width: 40rem;
                    height: 40rem;
                    border-radius: 30px;
                    font-size: 22rem;
                    color: white;
                    margin-top: 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                }
                .Sendemail_content_Header_thirdstep_circle_label {
                    margin-top: 10rem;
                    font-size: 15rem;
                    position: absolute;
                    left: -30rem;
                    width: 100rem;
                    color: #727272;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .Sendemail_content_Header_thirdstep_line {
                width: 240rem;
                height: 3rem;
                margin-top: -20rem;
                background-color: #727272;
            }
        }

        .Sendemail_content_information {
            width: 100%;
            height: auto;
            margin-top: 40rem;
            padding: 50rem 20rem;
            background-color: white;

            .Sendemail_content_information_content {
                margin-top: 10rem;
                width: 100%;
                height: auto;

                .Sendemail_content_information_content_partname {
                    display: flex;
                    .Sendemail_content_information_content_partname_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10rem 10rem;
                        .Sendemail_content_information_content_partname_content_txt {
                            color: #727272;
                            font-size: 15rem;
                        }
                        .Sendemail_content_information_content_partname_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12rem;
                            padding: 5rem 7rem;
                        }
                    }

                    .Sendemail_content_information_content_partname_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10rem;
                        width: 70%;
                        .Sendemail_content_information_content_partname_inputtag {
                            width: 300rem;
                            height: 30rem;
                            font-size: 15rem;
                            padding-left: 5rem;
                        }
                    }
                }

                .Sendemail_content_information_content_name {
                    display: flex;
                    .Sendemail_content_information_content_name_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10rem 10rem;
                        .Sendemail_content_information_content_name_content_txt {
                            color: #727272;
                            font-size: 15rem;
                        }
                        .Sendemail_content_information_content_name_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12rem;
                            padding: 5rem 7rem;
                        }
                    }

                    .Sendemail_content_information_content_name_input {
                        padding: 10rem 10rem;
                        width: 70%;
                        textarea {
                            width: 100%;
                            height: 250rem;
                            padding: 10rem 5rem;
                            font-size: 15rem;
                        }
                    }
                }

                .Sendemail_content_information_content_phonenum {
                    display: flex;
                    .Sendemail_content_information_content_phonenum_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10rem 10rem;
                        .Sendemail_content_information_content_phonenum_content_txt {
                            color: #727272;
                            font-size: 15rem;
                        }
                        .Sendemail_content_information_content_phonenum_content_require {
                            background-color: red;
                            color: white;
                            font-size: 12rem;
                            padding: 5rem 7rem;
                        }
                    }

                    .Sendemail_content_information_content_phonenum_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10rem;
                        width: 70%;
                        p {
                            font-size: 15rem;
                            margin-right: 10rem;
                        }
                        .Sendemail_content_information_content_phonenum_inputtag {
                            width: 75rem;
                            height: 30rem;
                            margin-right: 7rem;
                        }
                    }
                }
            }

            .Sendemail_content_information_personalInfor_btn {
                margin-top: 50rem;
                .Sendemail_content_information_personalInfor_btn_back {
                    font-size: 15rem;
                    color: white;
                    background-color: #727272;
                    padding: 10rem 20rem;
                    border: none;
                    border-radius: 5px;
                }

                .Sendemail_content_information_personalInfor_btn_next {
                    font-size: 15rem;
                    color: white;
                    background-color: #0045FF;
                    padding: 10rem 20rem;
                    border: none;
                    margin-left: 30rem;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Sendemail_conf {
    width: 100%;
    background: #00B3FF;
    height: 100%;
    .Sendemail_conf_content {
        position: relative;
        max-width: $pc;
        padding: 10rem 110rem;
        height: 100%;
        margin: auto;
        padding-bottom: 293rem;
        .Sendemail_conf_content_Header {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 30rem ;
           .Sendemail_conf_content_Header_firststep_circle {
                position: relative;
                width: 40rem;
                height: 80rem;
                .Sendemail_conf_content_Header_firststep_circle_num {
                    width: 40rem;
                    height: 40rem;
                    border-radius: 30px;
                    font-size: 22rem;
                    color: white;
                    display: flex;
                    margin-top: 10rem;
                    align-items: center;
                    justify-content: center;
                    background-color:#727272;
                }
                .Sendemail_conf_content_Header_firststep_circle_label {
                    position: absolute;
                    left: -30rem;
                    margin-top: 10rem;
                    font-size: 15rem;
                    width: 100rem;
                    color: #727272;
                }
            }

            .Sendemail_conf_content_Header_firststep_line {
                width: 240rem;
                height: 3rem;
                margin-top: -20rem;
                background-color: #727272;
            }

            .Sendemail_conf_content_Header_secondstep_circle {
                position: relative;
                width: 40rem;
                height: 80rem;
                .Sendemail_conf_content_Header_secondstep_circle_num {
                    width: 40rem;
                    height: 40rem;
                    border-radius: 30px;
                    font-size: 22rem;
                    color: white;
                    display: flex;
                    margin-top: 10rem;
                    align-items: center;
                    justify-content: center;
                    background-color: #0045FF;
                }
                .Sendemail_conf_content_Header_secondstep_circle_label {
                    margin-top: 10rem;
                    font-size: 15rem;
                    color: #0045FF;
                    width: 100rem;
                    position: absolute;
                    left: -30rem;
                }
            }

            .Sendemail_conf_content_Header_secondstep_line {
                width: 240rem;
                height: 3rem;
                margin-top: -20rem;
                background-color: #0045FF;
            }

            .Sendemail_conf_content_Header_thirdstep_circle {
                position: relative;
                width: 40rem;
                height: 80rem;
                .Sendemail_conf_content_Header_thirdstep_circle_num {
                    width: 40rem;
                    height: 40rem;
                    border-radius: 30px;
                    font-size: 22rem;
                    color: white;
                    display: flex;
                    margin-top: 10rem;
                    align-items: center;
                    justify-content: center;
                    background-color: #727272;
                }
                .Sendemail_conf_content_Header_thirdstep_circle_label {
                    position: absolute;
                    left: -30rem;
                    margin-top: 10rem;
                    font-size: 15rem;
                    color: #727272;
                    width: 100rem;

                }
            }

            .Sendemail_conf_content_Header_thirdstep_line {
                width: 240rem;
                height: 3rem;
                margin-top: -20rem;
                background-color: #727272;
            }
        }

        .Sendemail_conf_content_information {
            width: 100%;
            height: auto;
            margin-top: 40rem;
            padding: 50rem 20rem;
            background-color: white;
            .Sendemail_conf_content_information_title {
                width: 100%;
                height: auto;
                display: flex;
                .Sendemail_conf_content_information_title_symbol {
                    width: 8rem;
                    height: 20rem;
                    border-left: 2rem solid #0045FF;
                }
                .Sendemail_conf_content_information_title_text {
                    font-size: 20rem;
                    margin-top: -5rem;
                }
            }

            .Sendemail_conf_content_information_content {
                margin-top: 10rem;
                width: 100%;
                height: auto;

                .Sendemail_conf_content_information_content_partname {
                    .Sendemail_conf_content_information_content_partname_title {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        .Sendemail_conf_content_information_content_partname_title_txt {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Sendemail_conf_content_information_content_partname_content {
                        padding: 0 10rem;
                        width: 70%;
                        .Sendemail_conf_content_information_content_partname_content_txt {
                            height: 30rem;
                            font-size: 15rem;
                            text-align: start;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .Sendemail_conf_content_information_content_name {
                    .Sendemail_conf_content_information_content_name_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        .Sendemail_conf_content_information_content_name_content_txt {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Sendemail_conf_content_information_content_name_input {
                        padding: 0 10rem;
                        width: 70%;
                        p {
                            font-size: 15rem;
                            margin-right: 10rem;
                            text-align: start;
                        }
                    }
                }

                .Sendemail_conf_content_information_content_phonenum {
                    .Sendemail_conf_content_information_content_phonenum_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        .Sendemail_conf_content_information_content_phonenum_content_txt {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Sendemail_conf_content_information_content_phonenum_input {
                        padding: 0 10rem;
                        width: 70%;
                        p {
                            font-size: 15rem;
                            margin-right: 10rem;
                            text-align: start;
                        }
                    }
                }

                .Sendemail_conf_content_information_content_address {
                    .Sendemail_conf_content_information_content_address_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        padding: 10rem 10rem;
                        p {
                            color: #727272;
                            font-size: 15rem;
                            text-align: start;
                        }
                    }

                    .Sendemail_conf_content_information_content_address_input {
                        padding: 15rem 10rem;
                        width: 70%;
                        .Sendemail_conf_content_information_content_address_input_box1 {
                            p {
                                font-size: 15rem;
                                text-align: start;
                            }
                        }
                    }
                }

                .Sendemail_conf_content_information_content_emailaddress {
                    display: flex;
                    .Sendemail_conf_content_information_content_emailaddress_content {
                        width: 30%;
                        background-color: #f4f7f6;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10rem 10rem;
                        .Sendemail_conf_content_information_content_emailaddress_content_txt {
                            color: #727272;
                            font-size: 15rem;
                        }
                    }

                    .Sendemail_conf_content_information_content_emailaddress_input {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0 10rem;
                        width: 70%;
                        .Sendemail_conf_content_information_content_emailaddress_inputtag {
                            font-size: 15rem;

                        }
                    }
                }
            }

            .Sendemail_conf_content_information_personalInfor {
                margin-top: 50rem;
                display: flex;
                justify-content: start;
                p {
                    width: 10rem;
                    height: 18rem;
                    margin-top: 2rem;
                    border-left: 2rem solid #0045FF;
                }

                .Sendemail_conf_content_information_personalInfor_text {
                    font-size: 15rem;
                    font-weight: bold;

                }
            }

            .Sendemail_conf_content_information_personalInfor_textarea {
                margin-top: 20rem;
                div {
                    width: 100%;
                    height: 300rem;
                    padding: 10rem 10rem;
                    font-size: 15rem;
                    border: 1rem groove gray;
                    overflow-y: scroll; 
                    text-align: start;
                }
            }

            .Sendemail_conf_content_information_personalInfor_textbox {
                margin-top: 30rem;
                width: 200rem;
                margin: auto;
                margin-top: 30rem;
                background-color: #f4f7f6;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input {
                    width: 15rem;
                    height: 15rem;
                    margin-left: 10rem;
                }
                p {
                    margin-left: 5rem;
                    font-size: 15rem;
                }
            }

            .Sendemail_conf_content_information_personalInfor_btn {
                margin-top: 50rem;
                .Sendemail_conf_content_information_personalInfor_btn_back {
                    font-size: 15rem;
                    color: white;
                    background-color: #727272;
                    padding: 10rem 20rem;
                    border: none;
                    border-radius: 5px;
                }

                .Sendemail_conf_content_information_personalInfor_btn_next {
                    font-size: 15rem;
                    color: white;
                    background-color: #0045FF;
                    padding: 10rem 20rem;
                    border: none;
                    margin-left: 30rem;
                    border-radius: 5px;
                }
            }
        }
    }
}