*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

table, th, td {
  border: 1px solid rgb(202, 199, 199);
  border-collapse: collapse;
}

.manageNavbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #0045FF;
}
.manageNavbar .manageNavbar_logo {
  margin-left: 15px;
}
.manageNavbar .manageNavbar_logo img {
  height: 30px;
  width: 200px;
}

.manage_logoutnav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0045FF;
}
.manage_logoutnav .manage_logoutnav_firstDiv {
  height: 70px;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part {
  border-right: 1px groove rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part img {
  height: 30px;
  width: 200px;
}
.manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part p, .manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part a {
  cursor: default;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 0 10px;
}
.manage_logoutnav .manage_logoutnav_firstDiv .rightMg {
  border-right: 0 !important;
  border-left: 1px groove rgb(118, 118, 118) !important;
}
.manage_logoutnav .manage_logoutnav_firstDiv .rightMg .box {
  margin-top: 4px;
}
.manage_logoutnav .manage_logoutnav_firstDiv .rightMg p {
  margin-left: 5px;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manageLayer {
  width: 100%;
  height: 60px;
  background-color: #ededed;
  padding: 10px 80px;
  display: flex;
  align-items: center;
}
.manageLayer .manageLayer_content {
  padding: 20px 110px;
  height: 100%;
  display: flex;
  justify-content: start;
}
.manageLayer .manageLayer_content .homeIcon {
  margin-top: -6px;
  margin-left: -80px;
}
.manageLayer .manageLayer_content .pageTitle {
  font-size: 20px;
  margin-top: -13px;
  color: white;
  color: #0045FF;
}

.manageLogin {
  width: 100%;
  height: 500px;
}
.manageLogin .manageLogin_part {
  width: 420px;
  height: 340px;
  margin: auto;
  margin-top: 230px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.manageLogin .manageLogin_part .manageLogin_part_text {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 25px 20px;
}
.manageLogin .manageLogin_part .manageLogin_part_text div {
  width: 10px;
  height: 25px;
  border-left: 2px solid #d8d8d8;
}
.manageLogin .manageLogin_part .manageLogin_part_text p {
  font-size: 17px;
  font-weight: bold;
  color: #727272;
}
.manageLogin .manageLogin_part .manageLogin_part_ID {
  width: 100%;
  padding: 0 20px;
}
.manageLogin .manageLogin_part .manageLogin_part_ID p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.manageLogin .manageLogin_part .manageLogin_part_ID input {
  width: 100%;
  height: 30px;
}
.manageLogin .manageLogin_part .manageLogin_part_Pass {
  width: 100%;
  padding: 0 20px;
  margin-top: 25px;
}
.manageLogin .manageLogin_part .manageLogin_part_Pass p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.manageLogin .manageLogin_part .manageLogin_part_Pass input {
  width: 100%;
  height: 30px;
}
.manageLogin .manageLogin_part .manageLogin_part_btn {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.manageLogin .manageLogin_part .manageLogin_part_btn button {
  margin: auto;
  padding: 10px 50px;
  font-size: 15px;
  color: white;
  background-color: #5180ff;
  border: none;
  border-radius: 3px;
}
.manageLogin .manageLogin_part .manageLogin_part_passlost {
  margin-top: 10px;
}
.manageLogin .manageLogin_part .manageLogin_part_passlost p {
  font-size: 15px;
  color: #0045FF;
}

.IDcreate {
  height: 100%;
  width: 100%;
  padding: 50px;
}
.IDcreate .IDcreate_div {
  display: flex;
  justify-content: start;
}
.IDcreate .IDcreate_div button {
  background-color: #e71173;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
}
.IDcreate table {
  width: 100%;
  margin-top: 30px;
}
.IDcreate table thead tr .IDcreate_td1 {
  width: 10%;
}
.IDcreate table thead tr .IDcreate_td1 p {
  font-size: 15px;
  color: white;
  background-color: #5180ff;
  padding: 15px;
}
.IDcreate table thead tr .IDcreate_td2 {
  width: 30%;
}
.IDcreate table thead tr .IDcreate_td2 p {
  font-size: 15px;
  color: white;
  background-color: #5180ff;
  padding: 15px;
}
.IDcreate table thead tr .IDcreate_td3 {
  width: 60%;
}
.IDcreate table thead tr .IDcreate_td3 p {
  font-size: 15px;
  color: white;
  background-color: #5180ff;
  padding: 15px;
}
.IDcreate table tbody tr td p {
  font-size: 15px;
  color: #727272;
  padding: 15px;
}

.UserinforView {
  width: 100%;
  height: 100%;
  padding: 0 50px;
}
.UserinforView table {
  width: 100%;
  margin-top: 100px;
}
.UserinforView table tbody .UserinforView_oganize .UserinforView_oganizename {
  width: 30%;
}
.UserinforView table tbody .UserinforView_oganize .UserinforView_oganizename p {
  font-size: 15px;
  color: white;
  padding: 15px;
  background-color: #5180ff;
}
.UserinforView table tbody .UserinforView_oganize .UserinforView_oganizeinfor p {
  font-size: 15px;
  color: white;
  padding: 15px;
  background-color: #5180ff;
}
.UserinforView table tbody .UserinforView_admin .UserinforView_adminname p {
  font-size: 15px;
  color: white;
  padding: 15px;
  background-color: #b5b5b5;
}
.UserinforView table tbody .UserinforView_admin .UserinforView_admininfor p {
  font-size: 15px;
  color: white;
  padding: 15px;
  background-color: #b5b5b5;
}
.UserinforView table tbody .UserinforView_users .UserinforView_usersname p {
  font-size: 15px;
  color: #727272;
  background-color: white;
  padding: 15px;
}
.UserinforView table tbody .UserinforView_users .UserinforView_usersinfor p {
  font-size: 15px;
  color: #727272;
  background-color: white;
  padding: 15px;
}/*# sourceMappingURL=index.css.map */