*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
text-decoration: none !important;
}

img {
width: 100%;
}

table, th, td {
    border: 1px solid rgb(202, 199, 199);
    border-collapse: collapse;
}

.manageNavbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #0045FF;

    .manageNavbar_logo {
        margin-left: 15px;
        img {
            height: 30px;
            width: 200px;
        }
    }
}
    
.manage_logoutnav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0045FF;

    .manage_logoutnav_firstDiv {
        height: 70px;
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        .manage_logoutnav_firstDiv_part {
            border-right: 1px groove rgb(118, 118, 118);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                height: 30px;
                width: 200px;
            }
            p, a{
                cursor: default;
                color: white;
                font-weight: bold;
                font-size: 15px;
                padding: 0 10px;
            }
            
        }
        .rightMg {
            border-right: 0 !important;
            border-left: 1px groove rgb(118, 118, 118) !important;
            .box {
                margin-top: 4px;
            }
            p {
                margin-left: 5px;
            }
        }
    }
}

.navIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manageLayer {
    width: 100%;
    height: 60px;
    background-color: #ededed;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    .manageLayer_content{
        padding: 20px 110px;
        height: 100%;
        display: flex;
        justify-content: start;

        .homeIcon {
            margin-top: -6px;
            margin-left: -80px;
        }
        .pageTitle {
            font-size: 20px;
            margin-top: -13px;
            color: white;
            color: #0045FF;
        }
    }
}

.manageLogin {
    width: 100%;
    height: 500px;
    
    .manageLogin_part {
        width: 420px;
        height: 340px;
        margin: auto;
        margin-top: 230px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        .manageLogin_part_text {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 25px 20px;
            div {
                width: 10px;
                height: 25px;
                border-left: 2px solid #d8d8d8;
            }
            p {
                font-size: 17px;
                font-weight: bold;
                color: #727272;
            }
        }

        .manageLogin_part_ID {
            width: 100%;
            padding: 0 20px;
            p {
                text-align: start;
                font-size: 15px;
                color: #727272;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                height: 30px;
            }
        }

        .manageLogin_part_Pass {
            width: 100%;
            padding: 0 20px;
            margin-top: 25px;
            p {
                text-align: start;
                font-size: 15px;
                color: #727272;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                height: 30px;
            }
        }

        .manageLogin_part_btn {
            width: 100%;
            height: auto;
            margin-top: 20px;
            button {
                margin: auto;
                padding: 10px 50px;
                font-size: 15px;
                color: white;
                background-color: #5180ff;
                border: none;
                border-radius: 3px;
            }
        }

        .manageLogin_part_passlost {
            margin-top: 10px;
            p {
                font-size: 15px;
                color: #0045FF;
            }
        }
    }
}

.IDcreate {
    height: 100%;
    width: 100%;
    padding: 50px;

    .IDcreate_div {
        display: flex;
        justify-content: start;
        button {
            background-color: #e71173;
            color: white;
            padding: 10px 30px;
            border: none;
            border-radius: 20px;
        }
    }

    table {
        width: 100%;
        margin-top: 30px;
        thead {
            tr {
                .IDcreate_td1 {
                    width: 10%;
                    p {
                        font-size: 15px;
                        color: white;
                        background-color: #5180ff;
                        padding: 15px;
                    }
                }

                .IDcreate_td2 {
                    width: 30%;
                    p {
                        font-size: 15px;
                        color: white;
                        background-color: #5180ff;
                        padding: 15px;
                    }
                }

                .IDcreate_td3 {
                    width: 60%;
                    p {
                        font-size: 15px;
                        color: white;
                        background-color: #5180ff;
                        padding: 15px;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    p {
                        font-size: 15px;
                        color: #727272;
                        padding: 15px;
                    }
                }
            }
        }
    }
}

.UserinforView {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    padding-bottom: 50px;
    table {
        width: 100%;
        margin-top: 100px;
        tbody {
            .UserinforView_oganize {
                .UserinforView_oganizename {
                    width: 30%;
                    p {
                        font-size: 15px;
                        color: white;
                        padding: 15px;
                        background-color: #5180ff;
                    }
                }

                .UserinforView_oganizeinfor {
                    p {
                        font-size: 15px;
                        color: white;
                        padding: 15px;
                        background-color: #5180ff;
                    }
                }
            }

            .UserinforView_admin {
                .UserinforView_adminname {
                    p {
                        font-size: 15px;
                        color: white;
                        padding: 15px;
                        background-color: #b5b5b5;
                    }
                }
                .UserinforView_admininfor { 
                    p {
                        font-size: 15px;
                        color: white;
                        padding: 15px;
                        background-color: #b5b5b5;
                    }
                }
            }
            
            .UserinforView_users {
                .UserinforView_usersname {
                    p {
                        font-size: 15px;
                        color: #727272;
                        background-color: white;
                        padding: 15px;
                    }
                }
                .UserinforView_usersinfor {
                    p {
                        font-size: 15px;
                        color: #727272;
                        background-color: white;
                        padding: 15px;
                    }
                }
            }
        }
    }
}

.RsvstatusView {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .RsvstatusView_organize {
        width: 25%;
        height: 100%;
        margin-top: 10px;
        .RsvstatusView_organize_title {
            width: 100%;
            height: 28px;
            font-size: 20px;
            color: #0045FF;
            display: flex;
            justify-content: start;
            align-items: start;
            padding-left: 10px;
            border-left: 2px solid #0045FF;
        }

        .RsvstatusView_organize_btndiv {
            width: 100%;
            height: auto;
            display: block;
            margin-top: 30px;
            button {
                font-size: 15px;
                border: 1px groove grey;
                color: #727272;
                width: 100%;
                height: 50px;
            }
            button:hover {
                background-color: #b5b5b5;
                color: white;
            }
        }
    }

    .RsvstatusView_reservation {
        width: 70%;
        height: 100%;
    }
}

.ManagersvCalendar_content_form {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;

    .undisplay {
        display: none;
    }
    .display {
        display: block;
    }

    .ManagersvCalendar_content_form_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ManagersvCalendar_content_form_nav_calendar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            
            .ManagersvCalendar_content_form_nav_calendar_body {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                .re_span {
                    font-size: 20rem;
                    color: #727272;
                    font-weight: bold;
                    margin-left: 5rem;
                    margin-right: -5rem;
                }
                margin-left: -10rem;
            }
        }

        .ManagersvCalendar_content_form_nav_filter {
            font-size: 15rem;
            padding: 7px 15px;
            border-radius: 5px;
            background-color: #e71173;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                cursor: default;
                color: white;
            }
            .ManagersvCalendar_content_form_nav_filter_box {
                margin-top: 5px;
            }
        }
    }

    .ManagersvCalendar_content_form_calendar {
        width: 100%;
        height: auto;
        border: 2px solid #dddfde;

        .ManagersvCalendar_content_form_calendar_colors {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 13px;
            color: #727272;
            padding: 7px 7px;

            .rsv_color1 {background-color: #727272; width: 20px; height: 13px;}
            .rsv_color2 {background-color: yellow; width: 20px; height: 13px;}
            .rsv_color3 {background-color: rgba(255, 183, 0, 0.413); width: 20px; height: 13px;}
            .rsv_color4 {background-color: #59f63657; width: 20px; height: 13px;}
            .rsv_color5 {background-color: #06c9df6f; width: 20px; height: 13px;}
            .rsv_color6 {background-color: #0c84f47a; width: 20px; height: 13px;}
            .rsv_color7 {background-color: #8524fb6c; width: 20px; height: 13px;}
            .rsv_color8 {background-color: #ef15777f; width: 20px; height: 13px;}

            p {
                margin: 0 10px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        background-color: #dddfde;
                        width: 14.28571428571429rem;
                        font-size: 15px;
                        padding: 15px 0;
                        color: #727272;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        .calendar_date {
                            font-size: 15px;
                            padding: 10px 10px;
                            text-align: start;
                        }
                        .space_box {
                            width: 100%;
                            height: 30rem;
                        }
                        .rsv_box {
                            width: 100%;
                            height: auto;
                            font-size: 10px;
                            padding-bottom: 10rem;
                            .undisplay {
                                display: none;
                            }
                            .display {
                                display: block;
                            }
                            .rsv_1 {
                                background-color:rgba(255, 183, 0, 0.413);
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_2 {
                                background-color: #59f63657;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_3 {
                                background-color: #06c9df6f;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_4 {
                                background-color: #0c84f47a;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_5 {
                                background-color: #8524fb6c;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_6 {
                                background-color: #ef15777f;
                                border-bottom: 2px solid white;
                                color: #727272;
                                cursor: pointer;
                            }
                            .rsv_1:hover {
                                background-color:rgba(255, 183, 0, 0.259);
                            }
                            .rsv_2:hover {
                                background-color: #59f6363a;
                            }
                            .rsv_3:hover {
                                background-color:#06c9df45;
                            }
                            .rsv_4:hover {
                                background-color:#0c84f446;
                            }
                            .rsv_5:hover {
                                background-color:#8524fb44;
                            }
                            .rsv_6:hover {
                                background-color:#ef157753;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Loginscreen {
    width: 100%;
    height: 700px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b5b5b5;
}

.Advmanage {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .Advmanage_organize {
        width: 25%;
        height: 100%;
        margin-top: 10px;
        .Advmanage_organize_title {
            width: 100%;
            height: 28px;
            font-size: 20px;
            color: #0045FF;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 10px;
            border-left: 2px solid #0045FF;
        }

        .Advmanage_organize_btndiv {
            width: 100%;
            height: auto;
            display: block;
            margin-top: 30px;
            button {
                font-size: 15px;
                border: 1px groove grey;
                color: #727272;
                width: 100%;
                height: 50px;
            }
            button:hover {
                background-color: #b5b5b5;
                color: white;
            }
        }
    }

    .Advmanage_reservation {
        width: 70%;
        height: 100%;
        margin-top: 50px;
        div {
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .Advmanage_reservation_urldiv {
            margin-top: 30px;
            input {
                width: 300px;
                height: 30px;
                font-size: 15px;
                padding-left: 5px;
            }
        }
        .Advmanage_reservation_previewdiv {
            margin-top: 30px;
            button {
                width: 300px;
                height: 50px;
                font-size: 15px;
                color: white;
                background-color: #0045FF;
                border: none;
                border-radius: 5px;
            }
        }

        .Advmanage_reservation_statusdiv {
            margin-top: 30px;
            .Advmanage_reservation_statusdiv_activated {
                width: 300px;
                height: 50px;
                font-size: 15px;
                color: white;
                background-color: #727272;
                border: none;
                border-radius: 5px;
            }
            .Advmanage_reservation_statusdiv_paused {
                width: 300px;
                height: 50px;
                font-size: 15px;
                color: white;
                background-color: #727272;
                border: none;
                border-radius: 5px;
                margin-left: 30px;
            }

            .Advmanage_reservation_statusdiv_delete {
                width: 300px;
                height: 50px;
                font-size: 15px;
                color: white;
                background-color: red;
                border: none;
                border-radius: 5px;
                margin-left: 30px;
            }
        }
    }
}

.btnColor {
    background-color: #727272 !important;
    color: white !important;
}

.activateColor {
    background-color: #0045FF !important;
}

.pausedColor {
    background-color: #727272;
}