*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

table, th, td {
  border: 1px solid rgb(202, 199, 199);
  border-collapse: collapse;
}

.manageNavbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #0045FF;
}
.manageNavbar .manageNavbar_logo {
  margin-left: 15px;
}
.manageNavbar .manageNavbar_logo img {
  height: 30px;
  width: 200px;
}

.manage_logoutnav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0045FF;
}
.manage_logoutnav .manage_logoutnav_firstDiv {
  height: 70px;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part {
  border-right: 1px groove rgb(118, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part img {
  height: 30px;
  width: 200px;
}
.manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part p, .manage_logoutnav .manage_logoutnav_firstDiv .manage_logoutnav_firstDiv_part a {
  cursor: default;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 0 10px;
}
.manage_logoutnav .manage_logoutnav_firstDiv .rightMg {
  border-right: 0 !important;
  border-left: 1px groove rgb(118, 118, 118) !important;
}
.manage_logoutnav .manage_logoutnav_firstDiv .rightMg .box {
  margin-top: 4px;
}
.manage_logoutnav .manage_logoutnav_firstDiv .rightMg p {
  margin-left: 5px;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manageLayer {
  width: 100%;
  height: 60px;
  background-color: #ededed;
  padding: 10px 80px;
  display: flex;
  align-items: center;
}
.manageLayer .manageLayer_rsvlist {
  display: flex;
  justify-content: start;
  align-items: center;
}
.manageLayer .manageLayer_rsvlist .manageLayer_rsvlist_toHome {
  background-color: #0045FF;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.manageLayer .manageLayer_rsvlist .manageLayer_rsvlist_toHome p {
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  margin-left: 5px;
}
.manageLayer .manageLayer_rsvlist .manageLayer_rsvlist_title {
  font-size: 20px;
  color: #727272;
  font-weight: bold;
  margin-left: 10px;
}
.manageLayer .manageLayer_rsvlist .manageLayer_rsvset_title {
  font-size: 15px;
  color: #727272;
  margin-left: 10px;
}
.manageLayer .manageLayer_rsvlist .manageLayer_rsvset_title span {
  font-size: 20px;
  font-weight: 20px;
  color: #727272;
}

.manageLogin {
  width: 100%;
  height: 500px;
}
.manageLogin .manageLogin_part {
  width: 420px;
  height: 340px;
  margin: auto;
  margin-top: 230px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.manageLogin .manageLogin_part .manageLogin_part_text {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 25px 20px;
}
.manageLogin .manageLogin_part .manageLogin_part_text div {
  width: 10px;
  height: 25px;
  border-left: 2px solid #d8d8d8;
}
.manageLogin .manageLogin_part .manageLogin_part_text p {
  font-size: 17px;
  font-weight: bold;
  color: #727272;
}
.manageLogin .manageLogin_part .manageLogin_part_ID {
  width: 100%;
  padding: 0 20px;
}
.manageLogin .manageLogin_part .manageLogin_part_ID p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.manageLogin .manageLogin_part .manageLogin_part_ID input {
  width: 100%;
  height: 30px;
}
.manageLogin .manageLogin_part .manageLogin_part_Pass {
  width: 100%;
  padding: 0 20px;
  margin-top: 25px;
}
.manageLogin .manageLogin_part .manageLogin_part_Pass p {
  text-align: start;
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.manageLogin .manageLogin_part .manageLogin_part_Pass input {
  width: 100%;
  height: 30px;
}
.manageLogin .manageLogin_part .manageLogin_part_btn {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.manageLogin .manageLogin_part .manageLogin_part_btn button {
  margin: auto;
  padding: 10px 50px;
  font-size: 15px;
  color: white;
  background-color: #5180ff;
  border: none;
  border-radius: 3px;
}
.manageLogin .manageLogin_part .manageLogin_part_passlost {
  margin-top: 10px;
}
.manageLogin .manageLogin_part .manageLogin_part_passlost p {
  font-size: 15px;
  color: #0045FF;
}/*# sourceMappingURL=index.css.map */